[2015-03-19 20:58] cyx opened #7 "netrc choke"
Reproduce:

Add an entry like:

    machine github.com
      login foo
      password x-oauth-token
      protocol https

Currently complains with:

    Error parsing netrc at /home/cyx/.netrc
    line 47: keyword expected; got protocol

[2015-03-20 19:33] exalted opened #8 "Auth doesn't work with HEROKU_API_KEY env variable without netrc"
`heroku` [used to work](https://github.com/heroku/heroku/blob/36b48d18c34323f4d5f900130298d8a0ff2b684a/lib/heroku/auth.rb#L155) in the older version with `HEROKU_API_KEY` variable set only, but current version [will complain](https://github.com/heroku/heroku-cli/blob/0f9ae4adf09ea53c7af793b17205b3c478b43312/cli.go#L150) if it can't find `netrc` file.

I understand that `heroku` (toolbelt) is thoug

[2015-04-01 02:00] dickeyxxx commented on #8
definitely a bug, shouldn't be too hard to fix either. I hope to get to this this week, in the meantime you should be able to stub out the netrc file with any info so long as you have the env var

[2015-04-01 06:08] exalted commented on #8
Thanks.

[2015-04-01 20:29] sibson opened #9 "Improve error message for incorrect app"
The error message that gets printed if the user passes an invalid app name isn't very helpful.  I'd expect this to be handled before my plugin is run.

[code]

[2015-04-01 20:32] sibson opened #10 "using needsApp and variableArgs leaves -a appname in context.args"
Using the undocumented needsApp: true and variableArgs:true I'd expect the -a appname to be stripped from context.args so my plugin doesn't have to deal with them.  Currently, -a appname is still in context.args.

[2015-04-01 22:36] dickeyxxx commented on #9
Do you mean syntactically valid? Or that it exists and the user has access to it? I could do the former, but it's not a good idea to waste a while API call just for this check.

To make the error messages better in general though, I want to add a common handler to heroku-cli-util that can better print these.

On Wed, Apr 1, 2015 at 1:29 PM, Marc Sibson <notifications@github.com>
wrote:

[2015-04-02 03:29] sibson commented on #9
I was thinking setting needsApp would make the API call for me, to grab the basic data, but I�ve no idea if that is reasonable.  A common handler would be helpful.

[2015-04-05 22:32] diwu1989 opened #11 "pg:backups public-url output isn't shell scripting friendly"
The old pgbackups url command gave the raw url, and it was very scripting friendly.
The new output has the annoying text:
[code]
This isn't scripting friendly, can you provide a form where it outputs the raw url? or make the default behavior the same as the old one?

[2015-04-06 23:40] dickeyxxx commented on #11
@uhoh-itsmaciek

[2015-04-07 02:44] uhoh-itsmaciek commented on #11
@dickeyxxx @diwu1989 is this a report against https://github.com/heroku/heroku? I'm not aware of `public-url` support in `heroku-cli`. In the other repo, I this was addressed in https://github.com/heroku/heroku/pull/1463. If that's not the case, please let me know which version of which project you're using and the steps to reproduce the issue.

[2015-04-07 02:44] #11 closed

[2015-04-07 03:20] diwu1989 commented on #11
Yep, that PR took care of it, looking forward to see it in the next toolbelt version.
Thanks

[2015-04-07 03:41] uhoh-itsmaciek commented on #11
Great. I *think* that's already released, right @dickeyxxx? I'm using 3.30.6 which I installed this morning and which does have these changes.

[2015-04-07 04:05] hunterloftis opened #12 "Needs to split flags on equals as well as space"
https://gist.github.com/hunterloftis/f66a15e142828027dbf9

`--foo bar` works but `--foo=bar` doesn't.

[2015-04-07 16:24] dickeyxxx commented on #11
yeah 3.30.6 came with the changes

[2015-04-10 22:31] dickeyxxx commented on #8
first of all, apologies this took me a bit to get to, the ruby 1.8.7 removal took a bit out of my time last week. Regardless, I finally got to looking at this and realized you're probably talking about the current v3 version of the cli (this repo is for the yet-to-be-fully-released v4 version of the cli).

This ended up being a pretty simple fix, it's here: https://github.com/heroku/heroku/pull/15

[2015-04-10 22:31] #8 closed

[2015-04-15 13:07] exalted commented on #8
:clap:

[2015-04-22 09:39] as-cii commented on #8
Thanks **a lot** for taking the time to evaluate and answer our question: you're doing an amazing job with this new version of the toolbelt and we're looking forward to seeing it released :sparkles:

As far as I understand the proposed fix does not address the problem we were experiencing when we first opened this issue. Our *feature request*, if you will, was to be able to use the `HEROKU_API_KEY

[2015-04-23 14:18] Unitech opened #14 "Keeping .git folder when deploying on Heroku?"
Hi,

Is it possible to keep the .git folder when deploying to Heroku? We need to do some processing based on the data in this folder.

https://github.com/heroku/heroku/issues/1509

Thanks!

[2015-04-23 14:22] dmathieu commented on #14
Hi,

There is no way to do this at the moment. As @dickeyxxx mentioned, this would not be a very good idea either.
Furthermore, you aren't necessarily deploying from GIT. You could be using the platform API.
See https://devcenter.heroku.com/articles/build-and-release-using-the-api
So this would have a very limited usage.

What data do you need available in your deployed app?

[2015-04-24 18:30] niklasrichardson opened #15 "Update confirmation message for certs:remove"
I'd like to make a change to the confirmation message that is displayed when a user calls certs:remove.

I'd like to update the message to (added 3rd line):

[code]

[2015-04-27 19:32] pdsphil commented on #15
Per @jonmountjoy: we should consider changing the top line to:

**WARNING: Destructive Action - you cannot rollback this change.**

And if there is room, perhaps add something about existing DNS entries pointing to the ssl:endpoint will break?

[2015-04-29 21:01] dickeyxxx commented on #10
fixed!

[2015-04-29 21:01] #10 closed

[2015-04-29 21:03] sibson commented on #10
:cake: :sparkles: Do I need to wait for/install a release or will it be automatically updated?

[2015-04-29 21:04] dickeyxxx commented on #10
it will eventually autoupdate, but you can trigger with `heroku update`

[2015-04-29 21:04] sibson commented on #10
tres cool, thanks

[2015-05-01 13:52] johnbeynon opened #18 "Show DNS reminder when provisioning SSLendpoint"
Should we tell users to update their DNS settings after they have added a new SSL cert (US apps only). A frequent ticket pattern is when customer adds cert, then access site and gets a certificate mismatch. They open a ticket and we tell them they've forgotten to update their DNS to point at the new ELB address.

[2015-05-01 13:54] johnbeynon commented on #15
similarly to https://github.com/heroku/heroku-cli/issues/18 - definitely worth reminding customers to update any DNS records that were pointing at the endpoint. Chances are they will not read it and open a ticket but it's worth a try.

[2015-05-05 14:52] rasky opened #21 "Missing LICENSE file"
This repository has no LICENSE file, so it's not clear how it can be used.

[2015-05-05 18:50] #21 closed

[2015-05-05 20:02] kch commented on #18
merge into #15? info should go in same message.

[2015-05-05 20:53] as-cii commented on #8
@dickeyxxx ❤️💛💚💙

Awesome job! Thank you! ✨

[2015-05-06 20:46] #14 closed

[2015-05-06 20:47] dickeyxxx commented on #9
this is fixed (sort of) if you use `h.command()` from heroku-cli-util https://github.com/heroku/heroku-cli-util#command

[2015-05-06 20:47] #9 closed

[2015-05-08 05:42] dickeyxxx commented on #7
fixed https://github.com/heroku/heroku-cli/commit/973e260af0e3a5c6b03d802029683a993cc04ddf

[2015-05-08 05:43] #7 closed

[2015-05-08 22:38] dickeyxxx commented on #12
fixed in #28

[2015-05-08 22:38] #12 closed

[2015-05-11 20:24] dpiddy opened #29 "Use ~/.netrc.gpg if present"
The ruby toolbelt [will use netrc.gpg if it exists](https://github.com/heroku/heroku/blob/8b289117b5036978dd23b714c4d168680eab7508/lib/heroku/auth.rb#L132) with help from [the netrc gem](https://github.com/heroku/netrc/blob/4731442e1f0a9425be6e050c8c3629e308729e2c/lib/netrc.rb#L49). For new JS-based plugins, such as heroku-git, `~/.netrc.gpg` is not respected.

[2015-05-12 20:51] rsampaio opened #30 "New heroku git:remote does not respect devcloud variables"
After the toolkit upgrade the `heroku git:remote -a app` command does not consider the HEROKU_HOST variable and add the remote for the official host instead of the devcloud:

[code]

[2015-05-12 22:31] dickeyxxx commented on #30
fixed https://github.com/heroku/heroku-cli-util/commit/886c376a8291444e4b63e9c8bd596b01a4b12b73

[2015-05-12 22:31] #30 closed

[2015-05-12 23:16] dickeyxxx opened #31 "support aliases"
similar to https://github.com/daneharrigan/heroku-alias but it might be better to use `~/.herokurc`

[2015-05-15 03:01] dickeyxxx commented on #29
fixed in https://github.com/heroku/heroku-cli/commit/995b0d1b2fa1789cfc9959bf88437902f21d346b

[2015-05-15 03:01] #29 closed

[2015-05-15 12:43] dpiddy commented on #29
Works, thanks!

[2015-06-04 22:01] jmonster opened #40 "auth:token broken in latest release"
my client just updated and I noticed the following no longer functions:

[code]

[2015-06-05 19:51] dickeyxxx commented on #40
are you still getting this? not using a devcloud or anything?

[2015-06-05 19:51] dickeyxxx commented on #40
you could try running it with `HEROKU_DEBUG=`

[2015-06-06 01:29] jmonster commented on #40
just tried it again now and it seems to be working; I'm not doing anything with a devcloud, etc. huh :)

[2015-06-06 01:29] #40 closed

[2015-06-06 02:20] dickeyxxx commented on #40
api seems suspect here

[2015-06-25 18:46] bharat opened #42 "Structured output from toolbelt commands, for use in scripts."
We use heroku toolbelt from our deployment scripts to great effect, but wind up having a bunch of code to parse its output. Since the tool is ever evolving this means that we have to play catchup when things change. It would be incredibly useful if there was an option to get structured output from running toolbelt so that instead of:

[code]

We could get (eg) easily parseable JSON

[code]

There

[2015-06-29 23:03] dickeyxxx commented on #42
this is a great idea. I already do this internally for the commands command (`heroku commands --json`). It would have to be done for each command, but as I transition them over to v4 I will definitely keep this in mind.

[2015-06-29 23:09] dickeyxxx commented on #42
also, you could just use the api directly

[2015-06-29 23:10] markpundsack commented on #42
Not to be flip, but how about `curl -n https://api.heroku.com/apps`?

[2015-06-30 02:23] bharat commented on #42
@dickeyxxx: we've already implemented scripts on top of v3 so it'd be easier if we could just stay with using your tool - but at this point it looks likely that we'll migrate to the API (unless you think you'd have JSON support in v4 really soon now)

@markpundsack: There are some advantages to the porcelain that toolbelt provides on top of the API that are convenient for us...

[2015-07-05 06:22] comptasso opened #43 "Unable to change maintenance for an app"
When I type "heroku maintenance:on -a myapp", I got
Installing Heroku Toolbelt v4... done
 ▸    rename /home/jcl/.heroku/tmp/node071638888/iojs-v2.3.2-linux-ia32 /home/jcl/.heroku/iojs-v2.3.2-linux-ia32: no such file or directory
 ▸    rename /home/jcl/.heroku/tmp/node064785859/iojs-v2.3.2-linux-ia32 /home/jcl/.heroku/iojs-v2.3.2-linux-ia32: no such file or directory
 ▸    rename /home/jcl/.heroku

[2015-07-06 22:23] azreda commented on #43
This happens for all command, not just maintenance.
looking into the nodeXXXXXX folders, there are `-x86` files but the command is looking to copy `-ia32` files.

[2015-07-07 17:46] danp opened #45 "login flow should be via the web"
Currently `heroku login` prompts for email and password. To do that, I need to flip to my password manager and get at least my password, if not my email as well for convenience.

It would be very nice if instead `heroku login` did a normal web-based OAuth flow so, if I get prompted for email and password by id.heroku.com or similar, I can just use my password manager as I do for the web normally.

[2015-07-07 17:48] dickeyxxx commented on #45
cc @rwz @dmcinnes might this have something to do with the new auth stuff?

[2015-07-07 17:59] dmcinnes commented on #45
cc @heroku/enterprise-experience-team
Yeah it's certainly something we'd need for Federated Identity to work seamlessly with the CLI. Though we punted on that for the first revision :)

[2015-07-07 18:59] dickeyxxx commented on #43
apologies for this, it was an issue with 32-bit linux installs. We need to get integration testing up for 32-bit variants.

[2015-07-07 18:59] #43 closed

[2015-07-07 18:59] dickeyxxx commented on #43
@azreda there isn't a way to disable the autoupdater

[2015-07-07 21:22] dickeyxxx opened #46 "Add help for --app and --remote"
For example, the default help output is:

[code]

[2015-07-09 18:28] dickeyxxx opened #47 "show commands for topic when using --help"
when you add --help to a default topic command, it doesn't show the other commands under the topic

[2015-08-18 18:02] ojacobson opened #52 "SSL validation errors from `auth:whoami` in staging environment"
STR:

[code]

Expected outcome: my current login information, as relevant to staging.

Actual outcome: SSL certificate signing error shown above.

Attempted workaround:

[code]

[2015-08-18 18:02] ojacobson commented on #52
Version:

[code]

[2015-08-18 23:41] dickeyxxx commented on #52
this should be fixed in 4.21.4

[2015-08-18 23:41] #52 closed

[2015-08-19 14:30] ojacobson commented on #52
Confirmed fixed. Thank you!

[2015-08-26 20:56] cac04 opened #57 "Regression in support for BSDs and other OSes"
If I understand correctly, v3 is written in Ruby, whereas v4 is written in Go. Using Go allows you to ship a self-contained binary, without the dependency on Ruby. This seems like a good thing.

But v4 also uses Node. Presumably to avoid having a dependency on a system-wide installation of Node, v4 installs its own copy of Node into `.heroku`. To do this, it downloads a binary release of io.js fro

[2015-08-26 22:04] dickeyxxx commented on #57
Most of the code will be written in node, the readme goes over the architecture. We don't use the system here since we don't want to conflict with any packages that might be installed on the machine and we want to ensure we're on the same version. We only support iojs, we don't support node.

I think what we'll have to do is host openbsd binaries ourself. I'd like to host the binaries anyways so I

[2015-08-26 22:22] dickeyxxx commented on #57
I did add some code to properly check the status code of the request at least

[2015-08-27 20:44] cac04 commented on #57
If you were to host the binaries yourself, that would solve the problem perfectly. I'd be happy to help build OpenBSD binaries, if that would be useful.

I believe iojs 3.x will be the last iojs release. It has merged with node now, so the 4.x release will be known as Node again. The alpha release of Node v4 is due in about a week.

[2015-09-09 21:31] dickeyxxx opened #59 "v4 does not work on windows if home folder is on a network drive"
likely need to fix this by using a different directory

[2015-09-23 07:53] pjmolina opened #70 "Error updating plugins on heroku-cli"
Hi!
We have a CI chain that setups heroku toolbelt **as administrator** (on Windows OS).

Later on, CI users with **no admin privileges** uses heroku that tries to auto update itself and fails:

[code]

Two questions about this:
1.  If heroku-cli autoupdates per user (at it seems to be), should it have a full installation into users apps folder space (users\<username>\appdata) and not in a central

[2015-09-23 14:39] pjmolina commented on #42
+1 for @bharat on the proposed feature `--type=json`

Last update in heroku-cli
[code]

changed the output for this command:
[code]
from this:
[code]

to this:
[code]

Breaking our CI scripts due to the case sensite on URL.
Of course this integration is fragile as no contract is preserved on this type of output and integration on top of heroku-cli needs to relay on some custom parsing.
Adding json

[2015-09-23 15:37] dickeyxxx commented on #42
@pjmolina that command already has json support

[2015-09-23 15:39] dickeyxxx commented on #70
This seems to be an issue with the home directory not being in the right place. This is the logic that finds the home directory: https://github.com/heroku/heroku-cli/blob/master/filesystem.go

it seems to be returning `D:\Windows\system32\config\systemprofile\` in your case, which seems incorrect.

[2015-09-23 15:43] pjmolina commented on #42
Great! Thanks! @dickeyxxx  the `--json` param did the trick.

[2015-09-23 15:47] pjmolina commented on #70
Thanks @dickeyxxx makes total sense. Great hint. I will investigate a little more on our use case.

[2015-09-23 15:50] dickeyxxx commented on #70
It's possible there is something wrong with that code, or that there may be a better directory to use on windows.

[2015-09-23 15:52] pjmolina commented on #70
I will double-check `HOME` env var is set for the user to the same value as `USERPROFILE`

[2015-09-23 17:06] dickeyxxx commented on #70
I'm looking into moving this to LOCALAPPDATA
On Wed, Sep 23, 2015 at 8:52 AM Pedro J. Molina <notifications@github.com>
wrote:

[2015-09-24 12:01] tioteath opened #72 "Heroku installing node.js in my home directory without permission during the first run."
Console tools installed via packaging system must not behave in such manner. Simply because `node.js` is available via the very same packaging system.

P.S.
Which latest version of heroku doesn't require `node.js` I'd like to keep up with ruby version.

[2015-09-24 16:12] bodrovis commented on #70
I have the same issue :(

[2015-09-24 21:12] dickeyxxx commented on #72
We don't use apt to install node since we don't want to conflict with any version of node you might or might not have installed on the system. I realize apt could enforce this partially, but not if you're using something like nvm.

We want to move away from how the current CLI requires ruby to be on the PATH—this was a design goal of the new CLI. The version of node that it uses will live inside t

[2015-09-24 21:12] #72 closed

[2015-09-24 21:18] dickeyxxx commented on #57
sorry I forgot to update this but I did a bit of work in order to make this work better under bsd. I apologize that it isn't as seamless of an install as I would like, it's something I plan to revisit.

I made it show a better error message explaining that you need to compile node to `~/.heroku/node-v4*`. Hopefully the instructions there are easy enough to follow. There was a second part to this t

[2015-09-24 22:09] #46 closed

[2015-09-24 23:16] dickeyxxx commented on #70
sorry everyone but this might take me a bit longer to get a fix in, moving the directory is going to be tricky to get right.

In the meantime you can just set `HOME` to something local

[2015-09-25 04:31] bjeanes commented on #42
`--json` is great (and we should totally offer this or similar in many of our commands) but I would still thoroughly encourage users to use the API directly. At the end of the day, the toolbelt is a piece of UI and a much richer API exists with pretty strong compatibility guarantees.

[2015-09-25 13:59] dickeyxxx commented on #70
I've got a PR ready: https://github.com/heroku/heroku-cli/pull/76 needs to be thoroughly tested though

[2015-09-25 14:01] dickeyxxx commented on #59
update: this pr should solve this: https://github.com/heroku/heroku-cli/pull/76

needs to be tested though

[2015-09-26 00:41] dbuendiab opened #83 "Heroku Toolbelt fails on updating (Windows)"
Every time I try a heroku command it seems Toolbelt tries to update itself but it fails when renaming node.exe, a file that already exists in the %HOME%/.heroku dir.
![image](https://cloud.githubusercontent.com/assets/3029862/10114775/56b0a9d0-63f7-11e5-869c-48df111e2d67.png)

[2015-09-26 11:07] dbuendiab commented on #83
I've tried reinstalling Heroku after installing NodeJS and now it works. Maybe this is a dependence but I haven't read about it.

[2015-09-27 21:21] cac04 commented on #57
Good news: as far as I can tell, that works perfectly on OpenBSD:

    cac04:/home/cac04/test:80$ heroku local
    Installing Heroku Toolbelt v4... done.
    For more information on Toolbelt v4: https://github.com/heroku/heroku-cli
    Installing core plugins heroku-apps, heroku-fork, heroku-git, heroku-local, heroku-run, heroku-status... done

As you said, you just need to extract the tarball to

[2015-09-28 15:54] #59 closed

[2015-09-28 16:30] dickeyxxx commented on #83
can you update and try again?

[2015-09-28 16:31] #47 closed

[2015-09-28 18:18] pjmolina commented on #70
Thanks! @dickeyxxx

[2015-09-28 18:42] bodrovis commented on #70
@dickeyxxx I am sorry, but error is still present:

[code]

[2015-09-28 19:16] dickeyxxx commented on #70
does the file `C:\Users\supreme-pro\AppData\Local\heroku\heroku-cli.exe` exist?

[2015-09-28 19:17] dickeyxxx commented on #70
and `C:\Users\supreme-pro\AppData\Local\heroku\tmp\download441625808\file`?

[2015-09-28 20:08] bodrovis commented on #70
Yeah, they do. And I opened my console as administrator.

[2015-09-28 20:18] dickeyxxx commented on #70
@bodrovis you might just be on an old version actually. Can you delete `C:\Users\supreme-pro\AppData\Local\heroku` and update?

[2015-09-28 21:35] jdxcode opened #84 "heroku login does not work with cygwin or git bash"
**Just run the following**

[code]

Or use cmd.exe instead

[2015-09-29 09:36] dbuendiab commented on #83
I've seen today it is failing again - but I'm sure it worked 3 days ago! :(

I've uninstalled NodeJS and Heroku and installed again, first NodeJS, then Heroku. Still getting the same screen capture.

[2015-09-29 12:06] bodrovis commented on #70
Not sure, what exactly helped but after a couple of Toolbelt re-installations everything seems to be working okay :). My thanks!

[2015-09-29 13:55] Taytay opened #86 "`heroku addons --resource X` gives an error: `Unexpected flag: --resource`"
I believe this is just a documentation issue. The example given when you type `heroku help addons` says:
[code]

But using the `--resource` flag doesn't appear to work.

[2015-09-29 15:41] #70 closed

[2015-09-29 15:46] dickeyxxx commented on #83
can you show me the output of `heroku version`? Also, having node installed won't do anything, the toolbelt won't use any local installation of node, it needs it's own so that it won't conflict.

[2015-09-29 15:47] dickeyxxx commented on #86
yeah it was a bug with help, can you update and try again?

[2015-09-29 21:37] dbuendiab commented on #83
That's new: after trying to install itselfs again (seems autoupdate), downloads node in tmp file, cannot overwrite node, and then the three plugin errors before the version data info. What I had not viewed before is the Heroku client internal error that follows.

C:\Users\Diego Buendia>heroku version
Installing Heroku Toolbelt v4... done.
For more information on Toolbelt v4: https://github.com/her

[2015-09-29 23:25] nickbaum opened #88 "Heroku CLI no longer supports explicit ssh identities"
I have separate SSH identities for personal and work Heroku accounts.

The following used to work:

[code]

It seems like [appNameFromGitURL in git.go](https://github.com/heroku/heroku-cli/blob/8caf02677f14b4b6e0dba941025ad103d573972b/git.go#L74) no longer correctly parses the app name from the git url `git@heroku.work:storyworth.git`

Based on the code, I may be able to set a HEROKU_GIT_HOST envi

[2015-09-30 02:04] ducnvhn commented on #83
I have exactly same error and cannot run heroku config from git bash anymore. this is error msg from git  bash :
$ heroku config
/c/Program Files (x86)/Heroku/bin/heroku.bat: line 9: unexpected EOF while looking for matching `''
/c/Program Files (x86)/Heroku/bin/heroku.bat: line 12: syntax error: unexpected end of file

[2015-09-30 17:45] dickeyxxx commented on #83
@dbuendiab the path looks very suspicious with the backslash and forward slashes. What shell are you using?

[2015-09-30 17:46] dickeyxxx commented on #88
this functionality wasn't in the toolbelt, it was provided by this plugin https://github.com/heroku/heroku-accounts which is no longer compatible.

[2015-09-30 17:58] dbuendiab commented on #83
In the opening post I stated it was on Windows (8.1, BTW), but in the next I took it for granted, excuse me if I fooled you. The error is the same usind CMD or Powershell.

[2015-09-30 18:03] dickeyxxx commented on #83
:) sorry about that. I should've checked above. I tested myself in powershell and while it does show the odd backslashes combined with forward slashes, it still functions. I'm wondering if this might be the space in your username. Checking now.

[2015-09-30 18:12] dbuendiab commented on #83
Probably you're right. I'm on the road now, I'll check when arriving at home.

[2015-09-30 18:16] dickeyxxx commented on #83
I created an account myself in my windows vm with a space in the name in powershell, but it functioned fine. I am on win10 though, I don't have a win8.1 vm handy. I may have to get one setup for this, but I don't feel like the windows version is likely the problem.

I think it goes without saying if it IS the space in the username, it's clearly a major bug.

[2015-09-30 18:17] dickeyxxx commented on #83
I wonder if this is a permissions issue. Did you happen to run the command as an administrator then as not an admin? Can you check the C:\Users\Diego Buendia\AppData\Local\heroku directory for the node folder and see what the permissions are on it?

[2015-09-30 18:21] #88 closed

[2015-09-30 18:42] #86 closed

[2015-09-30 18:49] dickeyxxx commented on #83
I'm thinking this is a permissions or a partial download issue. If you could also show me a list of all the files in C:\Users\Diego Buendia\AppData\Local\heroku\node-v4.1.1-windows-x86

Not sure if powershell has a `tree` command, but that would be ideal.

[2015-09-30 19:16] dbuendiab commented on #83
Luckily we've got `tree` in CMD:

[code]

Got the permissions using Git Bash (this machine is only-one-user, never dealed with admin except when installing something). The `node.exe` file has `-rwxr-xr-x' permissions, but I don't know if it's right or wrong. After this, I've opened a CMD with 'run as administrator' mode, and the error raises again as before.

[code]

[2015-09-30 19:22] dbuendiab commented on #83
I see `tree` doesn't show files, excuse me:

[code]

[2015-10-01 15:16] dickeyxxx commented on #83
@dbuendiab apologies but I'm going to be out the next few days on vacation. This bug has proven to be pretty tricky to solve, I hope to get it fixed soon. I believe you can fix this yourself at least in the meantime by deleting the entire %LOCALAPPDATA%\heroku directory.

[2015-10-02 17:07] nickbaum commented on #88
Alright, thanks for letting me know. I guess I'll file a bug on that plugin to make it compatible :)

[2015-10-02 22:19] chavenor opened #91 "Windows Heroku Hangs on Upgrade"
Using Windows 7 Ultimate SP1
From ```cmd``` using ```heroku``` or ```heroku update``` terminal hangs.  See image below.

![screen-shot](https://cloud.githubusercontent.com/assets/8561798/10258937/6bc6e614-6928-11e5-8b07-8a439d8f5296.png)

What I have tried.

- Deleted the folders Username/.heroku , and Username/AppData/Local/heroku.  Same hang spot.
- Did above plus uninstalled heroku toolbelt dow

[2015-10-05 05:38] coolguy23 commented on #84
in the meantime, cmd.exe will work to login

[2015-10-08 14:20] ErikEvenson opened #92 "Running heroku fails: error loading plugin commands"
[code]

[2015-10-08 14:22] ErikEvenson commented on #92
This looks similar to #83.  I'm running on Ubuntu 14.04.2.

[2015-10-08 18:43] ErikEvenson commented on #92
Fixed by https://github.com/heroku/heroku/issues/1766

[2015-10-08 18:43] #92 closed

[2015-10-08 22:01] dickeyxxx commented on #83
I do appreciate the detailed information about the file structure. Unfortunately I'm still not sure what exactly is happening, that file should be deleted before it's moved and it also shouldn't attempt to download it if it already exists, very strange. Still looking.

[2015-10-09 18:29] technicalpickles opened #93 "Running `heroku` tries to heroku-local and heroku-status every time"
When running `heroku` without any arguments, it tries to install it everytime I run it. When running a subcommand like `heroku appsinfo`, it actually tries to run twice, and --version seems to install 3 times:

[code]

[2015-10-09 18:33] dickeyxxx commented on #93
strange, it looks like it's trying to output an error but showing nothing. Is there anything in `~/.heroku/error.log`? You could also try running it with `GODE_DEBUG=info`

[2015-10-09 21:11] dickeyxxx commented on #93
I've put a change in to show the error message (not yet released) and I think this was due to the CDN returning an invalid tarball. I've reset the cache so this should now work. If not you could try deleting `~/.heroku/.npm-cache`. If that doesn't work, you can install it directly by running `npm install heroku-local heroku-status` inside `~/.heroku`.

[2015-10-11 03:05] tejasmanohar opened #94 "--options should be allowed before or after command"
`--app` is an option to Heroku's toolbelt for the `logs` command, but by standard CLI design, it should be allowed before or after the root command, right?

[code]

[2015-10-11 05:29] dickeyxxx commented on #94
no, sorry, the command must be the second argument

[2015-10-11 05:29] #94 closed

[2015-10-11 15:22] npalmius commented on #84
This is inconsistent. I installed Heroku into Cygwin using the standalone installer (https://toolbelt.heroku.com/install.sh) which worked fine (once I removed all the `sudo` commands in the install script). Some commands such as `heroku apps` and `heroku logs` work fine in the Cygwin shell (and ask for login) whereas directly calling `heroku login` or commands like `heroku stack:set` come up with

[2015-10-13 17:42] dickeyxxx commented on #83
Still working on this btw, haven't found the issue yet.

[2015-10-13 19:01] shuckc commented on #84
I get this error since I enabled 2fa on my account

[2015-10-15 17:38] dickeyxxx commented on #83
Alright I don't have a fix, but I added some hopefully better debugging around this. Can someone that has this issue delete `%LOCALAPPDATA%\heroku` and try again? There should hopefully be some more output about whatever the actual issue is.

[2015-10-15 18:35] dbuendiab commented on #83
Well I've deleted the folder and restarted heroku:
![image](https://cloud.githubusercontent.com/assets/3029862/10523714/25285a72-737c-11e5-92ff-989392484493.png)
After a while, it seems to work without updating. Good job!

[2015-10-15 18:36] dickeyxxx commented on #83
seriously!? this was the change https://github.com/heroku/heroku-cli/commit/0215bc485e9e39e597e751fdade6ac16bec99d44

I did not think that would fix it, oh well though. I'm happy to finally have this fixed! Thanks for your patience.

[2015-10-15 18:36] #83 closed

[2015-10-15 18:41] dickeyxxx commented on #57
I put a change in to show a better message in heroku local as well about compiling forego

[2015-10-15 18:43] dbuendiab commented on #83
Well, maybe someone could try on another Windows version to added confirmation. For your information, I'm using Windows 8.1 and I've tried several commands and the old behaviour is gone.

[2015-10-16 00:39] dickeyxxx commented on #83
If anyone is still getting this issue, delete `%LOCALAPPDATA%\heroku` and try again. It should be resolved.

[2015-10-16 02:57] gusbicalho commented on #83
I had the bug, and now it works for me too.

[2015-10-16 06:05] gugol2 opened #96 "Installing Heroku Toolbelt v4 failing in Raspberry Pi"
I had the heroku-toolbelt installed on my raspberry pi. With the new v4 release of the heroku-toolbelt it started to fail and I had to reinstall it:

`wget -O- https://toolbelt.heroku.com/install-ubuntu.sh | sh`
Now when checking the installation it looks heroku is under the right path:

`$ which heroku
/usr/local/heroku/bin/heroku`
But when running any heroku commands it tries to update itself an

[2015-10-16 14:52] #93 closed

[2015-10-19 06:30] chavenor commented on #91
Windows 2008 Server
![windows-2008](https://cloud.githubusercontent.com/assets/1850981/10571019/38dea716-7600-11e5-8738-60087337f1d9.png)

Toolbelt seemed to upgrade.
The title bar shows "npm" but I had to double ```crtl+c``` to exit.   Like it was two layers deep.

[2015-10-19 06:40] chavenor commented on #91
Not sure if this matters.   But the debug log was showing mixed forward and backslashes.

[code]

[2015-10-19 19:41] sventech opened #101 "error about `jasmin-reporters` on docker plugin install"
When I installed the docker plugin I got the following error:
(running on Mac Yosemite and HomeBrew)
``
heroku plugins:install heroku-docker
Installing Heroku Toolbelt v4... done.
For more information on Toolbelt v4: https://github.com/heroku/heroku-cli
Setting up node-v4.2.1... done
Installing core plugins heroku-cli-addons, heroku-apps, heroku-fork, heroku-git, heroku-local, heroku-run, heroku-s

[2015-10-24 14:19] neosb commented on #84
I have installed newest Git... It may be certificates?

[2015-10-27 13:58] aflatter commented on #72
@dickeyxxx Is there a way to force usage of a local node installation? The heroku toolbelt is now completely broken on NixOS, because the node binary expects things to exist in the wrong locations. See https://github.com/NixOS/nixpkgs/issues/10298.

[2015-10-27 16:52] dickeyxxx commented on #72
no, but why is this happening? does it come with stuff in `~/.npmrc` or something?

[2015-10-27 17:20] aflatter commented on #72
@dickeyxxx Those paths are hard-coded in the ELF header of the nodejs binary that is downloaded by the toolbelt. This is fine for most distros, but not for NixOS which has a different approach to the filesystem hierarchy. I suspect there's other systems for which this approach won't work.

A way to specify the location of a local `node` would allow the toolbelt to be packaged by not downloading a

[2015-10-28 23:20] dickeyxxx commented on #72
ah that is disappointing. What you could do is compile the version of node yourself by downloading the tarball and extracting it to `~/.heroku/node-v4.2.1-darwin-x64` and compiling it there. It does give this instructions generally if it can't provide a precompiled binary, but this is a strange case since there is a precompiled binary but it isn't compatible

[2015-10-29 00:29] dickeyxxx opened #103 "ensure godep is used to build"
cc @ransombriggs

[2015-10-29 09:44] aflatter commented on #72
@dickeyxxx That would be a work-around to get the toolbelt running, but it still doesn't allow it to be packaged. Is there a reason against a `NODE_PATH` override? You could still enforce the version of node (or maybe just log a warning) if you care about the specific release.

[2015-10-29 17:10] dickeyxxx commented on #72
NODE_PATH env var sounds reasonable. I'll see if I can throw something together.

[2015-10-29 17:13] aflatter commented on #72
Awesome, thanks!

[2015-10-29 22:01] dickeyxxx commented on #72
https://github.com/heroku/heroku-cli/pull/104

[2015-10-29 22:43] aflatter commented on #72
@dickeyxxx Thanks for your quick PR. I'll be on vacation for one week from tomorrow, but will help test it when I'm back.

[2015-10-29 22:57] dickeyxxx opened #105 "fix compatibility with raspberry pi"
[code]

[2015-10-29 23:04] dickeyxxx commented on #105
oops dupe of https://github.com/heroku/heroku-cli/issues/96

[2015-10-29 23:04] #105 closed

[2015-10-29 23:04] dickeyxxx commented on #96
I'm waiting on a raspberry pi to test this myself

[2015-10-30 05:02] hopslikeshaq32la opened #106 "Can't install core plugins on windows"
When I type heroku it hangs after

2015/10/30 00:56:32 running from C:\Users\Zhichao\AppData\Local/heroku/heroku-cli.exe
2015/10/30 00:56:33 Setting up node-v4.2.1...
2015/10/30 00:56:44  done
2015/10/30 00:56:44 Installing core plugins heroku-cli-addons, heroku-apps, heroku-fork, heroku-git, heroku-local, heroku-run, heroku-status...

indefinitely. I took that out of the error.log in my AppData.

[2015-10-30 15:27] jeromelefeuvre commented on #101
sounds bad...
[code]

[2015-10-30 16:12] sventech commented on #101
My bad. That should be `npm install -g jasmine-reporters`. I guess I typed it instead of pasting.

[2015-10-30 16:54] jeromelefeuvre commented on #101
+1 for new command.
got this, so don't know if install is good:
[code]

Anyways thanks !

[2015-10-30 17:09] dickeyxxx commented on #101
@hunterloftis

[2015-10-30 17:10] dickeyxxx commented on #101
Did a package disappear or something?

[2015-10-30 17:15] jeromelefeuvre commented on #101
my errors log:
[code]

[2015-10-30 17:18] dickeyxxx commented on #101
we probably don't need jasmine anyways unless it's testing, I'm going to see if it can be moved to `devDependencies`

[2015-10-30 17:23] dickeyxxx commented on #101
this will fix it https://github.com/heroku/heroku-docker/pull/135

[2015-10-30 17:31] dickeyxxx commented on #106
What happens if you run it with `GODE_DEBUG=info`?

[2015-10-30 17:40] jeromelefeuvre commented on #101
I don't know if it's good but I clone heroku-docker and made your change and try to install it like this:
[code]
seems not normal, right ?

[2015-10-30 18:07] dickeyxxx commented on #101
does anything happen if you set `GODE_DEBUG=info`?

[2015-10-30 22:17] hopslikeshaq32la commented on #106
bash.exe: warning: could not find /tmp, please create!
Installing core plugins heroku-cli-addons, heroku-apps, heroku-fork, heroku-git, heroku-local, heroku-run, heroku-status...npm info it worked if it ends with ok
npm info using npm@3.3.8
npm info using node@v4.2.1
npm info attempt registry request try #1 at 6:16:53 PM
npm http request GET https://cli-npm.heroku.com/heroku-git
npm info attempt r

[2015-10-30 22:24] hopslikeshaq32la commented on #106
Ughhh I am still having issues

after seeing that output, it stalls and doesn't finish

[2015-10-30 22:24] hopslikeshaq32la commented on #106
When I try to do something like heroku login, it tries to install core plugins again, and then stales again. Sorry if I wasn't clear.

[2015-11-03 00:14] dickeyxxx commented on #106
can you install anything if you try to use npm directly? `npm install heroku-local`?

[2015-11-03 01:48] hopslikeshaq32la commented on #106
I figured it out!

npm install was hanging because the TEMP variable had some crap after my temp folder. I got rid of that and installed everything and now it works!

Thanks a bunch.

[2015-11-03 01:48] #106 closed

[2015-11-03 01:58] dickeyxxx commented on #106
@chavenor this might be the problem you were having

[2015-11-03 03:10] technic-tec opened #111 "Error setting up node-v4.2.1: invalid cross-device link"
$ wget -qO- https://toolbelt.heroku.com/install.sh | sh
This script requires superuser access to install software.
You will be prompted for your password by sudo.
Add the Heroku CLI to your PATH using:
$ echo 'PATH="/usr/local/heroku/bin:$PATH"' >> ~/.profile
$ . ~/.profile
$ heroku --help
Installing Heroku Toolbelt v4... done.
For more information on Toolbelt v4: https://github.com/heroku/heroku-

[2015-11-03 04:15] dickeyxxx commented on #111
https://github.com/heroku/heroku-cli/pull/112

[2015-11-03 04:15] #111 closed

[2015-11-03 11:40] anthonator commented on #101
I'm seeing this without having the docker plugin installed.

[2015-11-03 18:20] chavenor commented on #106
@dickeyxxx sounds identical.  I will give it a try later this month.

[2015-11-03 19:10] dickeyxxx commented on #101
just delete `~/.heroku/node_modules`

[2015-11-03 19:11] #101 closed

[2015-11-05 16:23] #103 closed

[2015-11-05 22:43] redbugz opened #121 "heroku config:get now returns "undefined" instead of empty string for non-existent properties"
Not sure if this is considered an error or not, but config:get now returns undefined instead of the empty string if a config property does not exist. It broke some of our build scripts which expected the empty string. Maybe it's our fault for writing poor scripts, but it did surprise us.
We've fixed our scripts to handle either, so you may close if you feel this was an expected change.

[code]

[2015-11-05 22:46] dickeyxxx commented on #121
this was fixed https://github.com/heroku/heroku-apps/issues/19

[2015-11-05 22:46] #121 closed

[2015-11-06 13:58] jkutner opened #123 "heroku local eats my logs"
It seems that `heroku local` is swallowing some console output. Here is a [Stackoverflow post that describes the problem in detail](http://stackoverflow.com/questions/33562110/heroku-local-app-testing-missing-system-out-in-console).

I've seen this too. Only tried with JVM processes though.

[2015-11-06 19:30] jkutner commented on #123
Another report in IRC:

[2015-11-06 19:33] dickeyxxx commented on #123
this issue is fixed in forego's master but a release needs to be done https://github.com/ddollar/forego/issues/67

[2015-11-06 19:34] jkutner commented on #123
@dickeyxxx \o/ thanks!

[2015-11-08 05:46] chavenor commented on #106
@hopslikeshaq32la  here is what my vars look like -- what did you change yours to?

User Vars
```%USERPROFILE%\AppData\Local\Temp;C:\Program Files (x86)\Java\jdk1.6.0_25\bin```
System Vars.
``` %SystemRoot%\TEMP ```

[2015-11-10 23:33] friism commented on #45
As with most other improvements to Heroku, AppHarbor has already demonstrated how this can be solved:

 * https://blog.appharbor.com/2012/06/21/oauth-for-net-desktop-applications
 * https://github.com/appharbor/AppHarbor.NET/blob/master/AppHarbor.Sdk/AppHarborClient.Auth.cs

@dpiddy I do think that we'll have to support cli-only flows because people will want to script login on CI servers and so f

[2015-11-10 23:45] naaman commented on #45
@friism I'm not sure how they're avoiding a browser. They're opening a local webserver and running an instance of a browser. The App Harbor approach is just showing a way to avoid a centrally running web-based callback by running a local webserver. The harder problem is eliminating the handling of usernames and passwords AND eliminating the need for a browser.

@dpiddy there are also headless flow

[2015-11-10 23:46] friism commented on #45
@naaman they're not avoiding a browser, that wasn't my point.

[2015-11-11 00:04] friism commented on #45
(just wanted to show how one could snatch the OAuth callback)

[2015-11-12 18:17] unbracketed opened #129 "Option to disable / delay auto update"
I find the behavior of running an upgrade process prior to executing the command I've specified troubling.

The last thing I want when running a system command (especially if it is a time-critical / production command) is an arbitrary update process blocking it. What if the upgrade process fails? Is my CLI crippled at a critical moment?

I understand that keeping users up-to-date on the toolbelt b

[2015-11-14 23:43] earldouglas opened #130 "Check $PATH for the stty executable"
The code [currently expects](https://github.com/heroku/heroku-cli/blob/dc32a1a/Godeps/_workspace/src/github.com/dickeyxxx/speakeasy/speakeasy_unix.go#L19) `stty` to be in `/bin/stty`.  This is not always the case (e.g. in NixOS, it's in `/run/current-system/sw/bin/stty`), which can lead to the following error on login:

[code]

[2015-11-14 23:53] earldouglas opened #131 "Unknown error installing core packages"
When I run `heroku`, I see the following message:

[code]

I tried running `$ GODE_DEBUG=info heroku` to see more output, but it had no effect.

So far, this error appears to be benign for my use cases.

I am running heroku-toolbelt 3.42.21 on NixOS 15.09:

[code]

[2015-11-16 14:59] dpiddy commented on #45
Who is scripting `heroku login` for CI? Shouldn't they be using an oauth token?

I just want to be able to use 1password/lastpass as part of `heroku login` instead of having to copy my email/password into the terminal.

[2015-11-16 16:10] balansubr commented on #45
wow. I didn't even think of that benefit. No more manual copying password
from 1password.

On Monday, November 16, 2015, Dan Peterson <notifications@github.com> wrote:

[2015-11-17 05:24] lox opened #132 "Heroku CLI hangs when installed within a docker container"
When trying to install the Heroku CLI in a docker container, it seems to hang at:

[code]

Indefinitely. Using an `ubuntu:14.04` base image and installing with:

[code]

Any ideas?

My docker file looks like:

[code]

I'm running this within another docker container in our CI environment (Buildkite).

[2015-11-17 06:17] lox commented on #132
I've isolated this down to the `heroku plugins:install heroku-docker` stanza, once it's in the node subprocess. The strace output doesn't yield much.

[2015-11-17 07:44] lox commented on #132
This also fails in the docker hub automated build process (see https://hub.docker.com/r/99designs/heroku-cli/):

[code]

[2015-11-18 05:16] hopslikeshaq32la commented on #106
if you look at your TEMP user variable, it may have a semicolon in it. If
it does, it will not work. my TEMP user var is

%USERPROFILE%\AppData\Local\Temp

On Sun, Nov 8, 2015 at 12:46 AM, Casey Havenor <notifications@github.com>
wrote:

[2015-11-18 05:24] chavenor commented on #106
I'll take a look right now hold tight.

On Tue, Nov 17, 2015 at 11:16 PM, hopslikeshaq32la <notifications@github.com

[2015-11-18 05:51] chavenor commented on #106
Is there a command that allows me to force an update.   I did have
semi-colon in my tmp folder.

Just not sure how to get heroku to update.

On Tue, Nov 17, 2015 at 11:23 PM, Casey Havenor <casey@thatsbos.com> wrote:

[2015-11-18 05:52] chavenor commented on #106
Ok downloading update.

On Tue, Nov 17, 2015 at 11:51 PM, Casey Havenor <casey@thatsbos.com> wrote:

[2015-11-18 05:58] chavenor commented on #106
I remove folders.
Downloaded from site but it doesn't' seem like it will let me update to CLI
with plugins.

Any idea?

On Tue, Nov 17, 2015 at 11:52 PM, Casey Havenor <casey@thatsbos.com> wrote:

[2015-11-18 06:05] hopslikeshaq32la commented on #106
restart your cmd prompt?

On Wed, Nov 18, 2015 at 12:58 AM, Casey Havenor <notifications@github.com>
wrote:

[2015-11-18 06:07] changeaddress commented on #106
Yup.

[code]

[2015-11-18 06:08] chavenor commented on #106
Yup.

[code]

[2015-11-18 06:09] dickeyxxx commented on #106
uninstall the heroku gem

[2015-11-18 06:14] chavenor commented on #106
Removed the gem.
``` gem uninstall heroku```

Re Installed from msi package from heroku.

Getting.   Bingo.

Working!   We are in business.

@dickeyxxx I'll update all my tickets and close them out

[2015-11-18 06:15] chavenor commented on #106
Thanks for the help on this !

[2015-11-18 06:20] dickeyxxx commented on #106
I might see if I can repro and file a bug with npm since that's where the problem seems to be.

[2015-11-18 06:34] chavenor commented on #106
Here is a thread with another guy that was having issues.
https://github.com/npm/npm/issues/9846

[2015-11-18 06:35] chavenor commented on #106
You should be tagged on that post.

[2015-11-18 15:45] ransombriggs commented on #130
Replicated your problem and am working on a fix.

[2015-11-18 17:12] ransombriggs commented on #130
I have a fix ready, I should be able to ship it out later today after it is reviewed / released.

[2015-11-18 17:17] ransombriggs commented on #131
Replicated your problem and am working on a fix.

[2015-11-18 22:02] friism commented on #45
This might be interesting: http://blogs.msdn.com/b/visualstudioalm/archive/2015/11/18/visual-studio-team-services-git-credential-manager-for-mac-and-linux.aspx

[2015-11-18 22:41] ransombriggs commented on #130
I just verified my fix locally, could you please run `heroku update` and try again?

[2015-11-19 00:45] dickeyxxx commented on #45
cc @paulelliott

What I'm currently proposing is to automatically use the browser to login unless `--interactive` is set. In case I can't open a browser (such as over ssh) I'll show a URL the user can go to to complete the login.

The first pass is going to involve copy and pasting the key, but I want a solution that uses polling or something from the CLI to SSO in order to make the user not have

[2015-11-19 01:28] dpiddy commented on #45
That sounds pretty good. So it would be something like this?

1. run `heroku login`
2. browser opens going to special URL
3. I sign in if necessary
4. CLI polls something based on the special URL to get its token once I sign in

[2015-11-19 01:30] dickeyxxx commented on #45
you got it!

[2015-11-24 16:47] jdxcode opened #147 "Multiple short flags"
The cli should allow short flags to be used together:

[code]

[2015-11-24 16:47] dickeyxxx commented on #147
cc @jkakar

[2015-11-25 01:29] dickeyxxx commented on #96
mind testing? this should be resolved.

[2015-11-30 18:24] fabn commented on #129
+1 for this

[2015-11-30 21:08] #130 closed

[2015-12-02 11:20] fgrehm commented on #129
Same here, we run some commands as part of our CD pipeline and it sucks that it breaks every now and then because of an update :cry:

[2015-12-02 22:22] ransombriggs opened #156 "Prevent heroku-cli from messing up permissions when called with sudo"
[code]

This would also be a problem if we updated node packages automatically.  Need to think about how to keep this runnable as the root user as well.  We need to make sure .heroku is owned by the proper user at all times.

[2015-12-02 22:54] dickeyxxx commented on #156
We should probably also output messages on stderr if the permissions are screwed up for any reason

[2015-12-03 00:01] jdxcode opened #158 "add ability to deprecate plugins"
for example, `heroku-sso` needs to be ![fire-1447450095](https://cloud.githubusercontent.com/assets/216188/11548113/ffce5ef4-990d-11e5-8c1f-0e5a6de73cab.gif)

[2015-12-03 00:03] lox commented on #132
Yup, fixed. Thanks all.

[2015-12-03 00:03] #132 closed

[2015-12-04 17:03] earldouglas commented on #130
Works for me, thanks!

[2015-12-04 18:07] cherchyk commented on #84
Any update here?

[2015-12-07 09:47] gugol2 commented on #96
Now the error shown is different:
`$ heroku login
heroku-cli: Installing Toolbelt v4... done
For more information on Toolbelt v4: https://github.com/heroku/heroku-cli
heroku-cli: Adding dependencies... done
heroku-cli: Installing core plugins...Error reading plugin: heroku-cli-addons. See /home/pi/.heroku/error.log for more information.
Error reading plugin: heroku-apps. See /home/pi/.heroku/error

[2015-12-07 18:21] AndrewKvalheim commented on #96
I can [confirm][transcript] this result on a Raspberry Pi 1 Model B.

  [transcript]: https://gist.github.com/AndrewKvalheim/ae2deca5145d2d31cc71

[2015-12-08 01:29] Rain1996 opened #159 "heroku-cli: Installing core plugins... and doesn't finish to install."
As the title = =, what should I do?
the operation system is windows 10

[2015-12-08 01:46] #159 closed

[2015-12-14 23:52] chroda commented on #84
Sorry, I dont get it, what the solution here?

[2015-12-15 07:58] shahwaiz90 commented on #84
whats the solution?

[2015-12-16 06:55] CMCDragonkai commented on #84
It works with ZSH. `cygstart zsh`.

[2015-12-16 09:19] ervinb commented on #129
+1 this causes critical issues in a CI environment.

[2015-12-21 09:32] dkasak commented on #96
The same thing (the new error) happens for me on Arch x86_64.

[2015-12-21 16:44] dickeyxxx commented on #96
I wish I had more insight into this one. If you run it with `HEROKU_DEBUG=1` does it show more information?

[2015-12-21 16:59] dickeyxxx commented on #129
This will happen, but ensuring it is done right is easier said than done. I apologize I don't have a timeframe for it, but it's a near-term goal of the project.

[2015-12-23 08:26] maxcanna commented on #96
Here's the output you requested. Hope to help.

[code]

[2015-12-23 10:08] dkasak commented on #96
Here's mine. I get very similar output:

[code]

[2015-12-23 10:15] gugol2 commented on #96
So is mine:

[code]

[2015-12-24 15:48] marclennox commented on #96
Anyone figure out how to get past this issue?

[2015-12-26 14:17] jkutner commented on #84
[code]

[2015-12-29 06:16] starrychloe commented on #84
Need this fixed. Cannot run `pg:ps` command. I have `psql` in Cygwin.

[code]

Tried `cmd` in Cygwin but it didn't work.

[code]

[2016-01-06 20:07] jdxcode opened #166 "Allow listing help with `arg` flag."
Commands like `heroku git help` should display the help for the git topic. Doing this in a way that will also support things like `heroku git:remote -a help` might be tricky though.

[2016-01-08 18:32] funwhilelost opened #167 ""apps" command does not list all apps with -A -p flags"
[code]

My impression is that `-A` should list all the apps including any "joined org apps".  I'm not sure what it means by "personal app list".  I've tried everything to get them to show up - favoriting, changing permissions in the org, etc. but they are not listed unless I explicitly ask for `heroku apps -o myorg`.

Any of these:

[code]

Only returns:

[code]

Whereas this:

[code]

Returns onl

[2016-01-08 18:39] funwhilelost commented on #167
@codebryo @alexti this is blocking Codeship deployments for Heroku apps inside an org.

[2016-01-08 20:16] naaman commented on #167
@funwhilelost, I think we've seen this with a few other Codeship implementations with orgs and Codeship has fixed this by removing the `-p` flag. Please log a ticket through help.heroku.com to get this routed appropriately.

The flags, however, are confusing and the help text for `-A` is misleading. `-p` is only for personal apps and it explicitly filters out org apps. I'll sort out some new wordi

[2016-01-08 20:42] funwhilelost commented on #167
@naaman With 3.42.22 I'm getting identical results from all four of these variations:
[code]

None of them include my org apps.

[2016-01-08 20:57] naaman commented on #167
@funwhilelost right, like I said the flags are confusing. You have to specify `-o` or set `$HEROKU_ORGANIZATION` for correct behavior.

[2016-01-08 21:09] funwhilelost commented on #167
Ah, I see.  I posted a patch to their support boards to pull `heroku orgs` and iterate over them as well.

FWIW I'm also seeing the exact same list with either `-p` and/or `-A`.  No matter what combination I send I always see the full list of "My Apps" and "Collaborated Apps".

[2016-01-08 21:39] funwhilelost commented on #167
It would be nice to be able to set the HEROKU_ORGANIZATION from the Codeship project settings but it appears that those environment variables don't get carried forward to the step that calls `heroku apps`.

[2016-01-11 14:49] dacuotecuo opened #169 "when i type in heroku,there is some errors happened"
C:\Users\test\Desktop\koa>heroku login
No such file or directory - "C:\Users\test\AppData\Local/heroku/heroku-cli.exe" version
C:/Users/test/.heroku/client/lib/heroku/jsplugin.rb:108:in ``'
C:/Users/test/.heroku/client/lib/heroku/jsplugin.rb:108:in `version'
C:/Users/test/.heroku/client/lib/heroku/jsplugin.rb:231:in `check_if_old'
C:/Users/test/.heroku/client/lib/heroku/jsplugin.rb:129:in `setup'

[2016-01-11 15:36] ransombriggs commented on #169
@dacuotecuo Could you please try removing the following directories `C:/Users/test/.heroku` and `C:\Users\test\AppData\Local\heroku` then run `heroku update` and try again?

[2016-01-11 15:53] dacuotecuo commented on #169
Thanks a lot for your reply. I did as you said and it runs successfully

[2016-01-11 15:53] #169 closed

[2016-01-11 20:32] eappleby commented on #84
This message was a little unclear for me, so in case anyone is in a similar situation (after I activate 2FA, I received this error), here is what worked for me. I closed out Git Bash then opened the command prompt. From there, I was able to successfully login to heroku through "heroku login". I then closed the command prompt and re-launched Git Bash and everything worked fine.

[2016-01-11 21:03] ransombriggs commented on #84
@eappleby suggestion is the preferred solution right now, run `heroku login` using the windows command prompt.  This will drop your API key into your netrc, at which point you can open up cygwin or git bash and do whatever you need to.  The root cause of this problem is that stdin is not a real terminal, so we cannot turn off the echo during the password request.  One solution we have considered i

[2016-01-15 06:52] gglanzani commented on #96
Having this problem as well. Output similar to above

[2016-01-20 08:45] jprockbelly commented on #96
Slightly different output for me

[code]

[2016-01-20 17:39] dickeyxxx commented on #96
I did improve the debugging here a bit. I still don't know what's causing the segmentation fault though. It might be because I updated the version of node.js it uses under the hood.

I don't have access to a raspberry pi right now either. I tried to get an emulator setup but wasn't successful. Until I can get on that environment again, could someone try to see if the node binaries here work on ARM

[2016-01-20 18:58] maxcanna commented on #96
Hi, I can confirm that those binaries work correctly on ARM

[2016-01-21 07:17] brooks opened #182 "New installation failing on 10.11"
Setting up a new machine running El Capitan.  I have tried installing node and heroku both manually and with homebrew.  Getting this error every time I run a heroku command after installation.

[code]

[2016-01-21 15:38] ransombriggs commented on #182
@brooks Are you behind a proxy server?

[2016-01-21 17:11] brooks commented on #182
@ransombriggs No

[2016-01-21 17:23] dickeyxxx commented on #182
can you access https://cli-assets.heroku.com/node/v5.4.1/node-v5.4.1-darwin-x64.tar.gz?

[2016-01-21 17:26] brooks commented on #182
@dickeyxxx Yes

[2016-01-21 19:02] brooks commented on #182
Thanks, let me know if I can provide any further information

[2016-01-21 19:37] #182 closed

[2016-01-21 19:41] dickeyxxx commented on #182
can you delete `~/.heroku/heroku-cli` and try again?

[2016-01-21 19:45] brooks commented on #182
Away from my home machine for the day. Will try tonight and reply. Thank you for your help!

[2016-01-22 05:41] brooks commented on #182
Thanks! That fixed it

[2016-01-22 20:21] aristidesfl opened #184 "Monitor .env for changes"
Is it possible to reload the server when .env changes?

[2016-01-22 21:31] dickeyxxx commented on #184
that's not really the job of something like `heroku local`. Use something like rerun or nodemon instead.

[2016-01-22 21:31] #184 closed

[2016-01-22 22:00] aristidesfl commented on #184
I'm using nodemon, but the env variables are set by foreman.

[2016-01-22 22:33] dickeyxxx commented on #184
so set nodemon to restart `heroku local` when the env file changes

[2016-01-22 22:46] aristidesfl commented on #184
Assumed nodemon was only for node. I'm getting this error though:
[code]
Is it related to this? https://github.com/remy/nodemon/issues/527#issuecomment-150839538

[2016-01-23 00:19] dickeyxxx commented on #184
hmm it only seems to happen with `heroku local:run` but not with `heroku local`

[2016-01-23 03:24] yushine opened #185 "npm ERR! Cannot find module 'npm-autoinit/autoinit'"
heroku-cli: Adding dependencies... done
heroku-cli: Installing core plugins...
 ▸    npm ERR! Darwin 14.5.0
 ▸    npm ERR! argv "/Users/xx/.heroku/node-v5.4.1-darwin-x64/bin/node" "/Users/xx/.heroku/node-v5.4.1-darwin-x64/lib/node_modules/npm/cli.js" "remove" "heroku-apps" "heroku-cli-addons" "heroku-fork" "heroku-git" "heroku-local" "heroku-run" "heroku-spaces" "heroku-status"
 ▸    npm ERR! node

[2016-01-23 23:48] fzxt opened #186 "_netrc: access is denied"
Hi, I'm trying to run

[code]

but all I'm getting back is:

[code]

Specs:
Windows 10 x64bit

Can someone help me out?

[2016-01-24 03:55] fzxt commented on #186
Fixed. Just had to delete _netrc file in my user folder. It's a hidden file.

[2016-01-24 03:55] #186 closed

[2016-01-25 15:19] ransombriggs commented on #185
@yushine Not sure what could have called this, but could you please try the following?  Remove `/Users/xx/.heroku` and run `heroku update` and see if that fixes your problem.

[2016-01-26 02:09] yushine commented on #185
@ransombriggs
Thanks for your reply.
It doesn't work follow your step.

rm -rf .heroku/
heroku update
Would you like to submit Heroku CLI usage information to better improve the CLI user experience?
[y/N] n
heroku-cli: Installing Toolbelt v4... done
For more information on Toolbelt v4: https://github.com/heroku/heroku-cli
heroku-cli: Adding dependencies... done
heroku-cli: Installing core plugins.

[2016-01-27 12:25] Yitsushi opened #188 "I can't use Heroku Toolbelt on OS X El Capitan, i need to log in again and again"
I tried to install the Heroku Toolbelt on my new machine. Simply I just downloaded the pkg file from https://toolbelt.heroku.com/ then installed. After that quickly run `heroku login`. It asked me about analytic, I said yes... Downloaded some stuff then login credentials. Ok, i'm logged in. After I try to run `heroku apps` it always asks me my credentials.

[code]

I have a testing windows machine

[2016-01-27 14:48] dickeyxxx commented on #188
I wonder if your netrc file is stored somewhere else maybe. Is the `NETRC` environment variable set?

[2016-01-29 22:52] cappelaere opened #190 "Expected response to be successful, got 422"
I am trying to release a docker slug to heroku

[code]

[2016-01-30 23:51] sg98765 opened #191 "heroku error"
Windows 10 I am getting the following error:

Windows PowerShell
Copyright (C) 2015 Microsoft Corporation. All rights reserved.

C:\Users\Sukumar\Documents\GitHub> cd\
C:\> heroku --version
 !    error getting commands pid 156 SIGSEGV (signal 11)
C:\>

[2016-02-01 15:12] ransombriggs commented on #190
@cappelaere `export HEROKU_DEBUG=1` and then run again.  It will dump the JSON body which should have a better error message.  The fact it does not print this error message is a bug, but having this JSON will help us debug your problem further.

[2016-02-01 17:15] ransombriggs commented on #191
@sg98765 Could you please `set HEROKU_DEBUG=1` and run `heroku commands`?  Then paste in the relevant lines from `%LOCALAPPDATA%\heroku\error.log`

[2016-02-02 17:34] sg98765 commented on #191
Thank you, I don't know why it is working today.

C:\> heroku --version
heroku/toolbelt/3.42.33 (i386-mingw32) ruby/2.1.7
heroku-cli/4.27.16-cb94b94 (386-windows) go1.5.3
=== Installed Plugins
heroku-apps@1.2.3
heroku-cli-addons@0.2.0
heroku-fork@4.1.1
heroku-git@2.4.5
heroku-local@4.1.6
heroku-run@2.9.2
heroku-spaces@2.0.13
heroku-status@2.1.0

[2016-02-02 17:34] #191 closed

[2016-02-04 16:19] ransombriggs commented on #185
@yushine Sorry for the delayed response, but do you have any references to `npm-autoinit/autoinit` in your [npmrc](https://docs.npmjs.com/files/npmrc)?

[2016-02-04 20:17] rwz opened #194 "Npm output on missing plugin"
![screen shot 2016-02-04 at 12 14 37 pm](https://cloud.githubusercontent.com/assets/129043/12828337/11494a56-cb39-11e5-9a65-7d6c2ae436e1.png)

I suggest we suppress npm error output and print something more human friendly like

[code]

instead?

[2016-02-05 01:30] ugifractal opened #195 "error after install on osx 10.11.3"
After installing heroku-toolbelt under osx 10.11.3 I got error

[code]

running the CLI directly got:
[code]

[2016-02-05 04:41] scottpersinger opened #196 "Don't use query parameters to pass username and password on Login"
This is bad, bad, security-wise. Midgard was recently logging unredacted query parameters, which meant that our login passwords were being logged. Please convert to POST body unless there is some critical reason not to.

@da3da1us / @yangyangsfdc

[2016-02-05 05:30] jingweno commented on #196
:+1:

[2016-02-05 18:28] yangyangsfdc commented on #196
I agree: we should never send the password in URL,even not authorization header(basic auth)  Thank you for taking care of it! @scottpersinger and @jingweno

[2016-02-08 18:08] ransombriggs commented on #195
@ugifractal Sorry for the delayed response, I had to upgrade a machine to El Capitan to see if I could reproduce your issue.  I was not able to reproduce your issue and now that I am looking at it again, it seems that you have misconfigured DNS setup.  It is trying to get DNS from `127.0.0.1` and is not able to make a connection.  Unless you are running a special DNS server locally, that should be

[2016-02-09 01:12] ugifractal commented on #195
@ransombriggs thanks, I just changed DNS setting, and all working fine

[2016-02-09 01:12] #195 closed

[2016-02-10 22:35] mdizzy opened #198 "Issues with OSX El Capitan 10.11.4 Beta"
I can't get heroku cli working on my machine. I've been searching this for a while. Although I had this problem before upgrading to the latest beta, it wasn't imperative at the time so I just didn't think much of it.

heroku-cli: Installing Toolbelt v4... done
For more information on Toolbelt v4: https://github.com/heroku/heroku-cli
heroku-cli: Installing core plugins (retrying)...
 ▸    Error rea

[2016-02-10 22:39] ransombriggs commented on #198
@mdizzy could you please `export GODE_DEBUG=info` and try again?  This will not fix anything, but should give me a better indication of what is going wrong.

[2016-02-10 23:17] mdizzy commented on #198
Thanks for such a quick response! I tried running an npm update and that didn't fix things. Here is the attachment of my error.log
[error.txt](https://github.com/heroku/heroku-cli/files/125651/error.txt)

[2016-02-10 23:20] mdizzy commented on #198
Sorry that didn't update with the full info like I expected here is the file with everything piped in from the command.
[error.txt](https://github.com/heroku/heroku-cli/files/125656/error.txt)

[2016-02-11 00:02] freedmandil commented on #198
Running Mac OS X El Capitan 10.11.3
can't install heroku in terminal:
heroku login
heroku-cli: Adding dependencies...
 ▸    Get https://cli-assets.heroku.com/node/v5.4.1/node-v5.4.1-darwin-x64.tar.gz: x509: certificate signed by unknown authority
 done
heroku-cli: Installing core plugins...
 ▸

 ▸    fork/exec bin/node: no such file or directory
heroku-cli: Installing core plugins (retrying)...
 ▸

[2016-02-11 00:36] jingweno commented on #196
Fixed by https://github.com/heroku/heroku-cli/pull/197

[2016-02-11 00:36] #196 closed

[2016-02-11 15:37] ransombriggs commented on #198
@freedmandil are you behind a proxy server?

[2016-02-11 15:45] ransombriggs commented on #198
@mdizzy Could you remove your `~/.heroku/` directory and try again?

[2016-02-11 15:53] mdizzy commented on #198
Sorry I should have mentioned I'd tried that several times. Tried again today and got the same error
[error.txt](https://github.com/heroku/heroku-cli/files/126633/error.txt)

[2016-02-11 15:55] mdizzy commented on #198
I've uninstalled and reinstalled, I tried using the homebrew package and the download from the web. I don't even see an error in the logs saying that any of the downloads or installations failed (I see heroku-apps being downloaded, I even saw it in the /usr/local/heroku folders). Is there some kind of path setting that is missing that I should add?

[2016-02-11 15:59] mdizzy commented on #198
I see heroku-apps under ~/.heroku/.npm-cache/heroku-apps/1.2.4/

[2016-02-11 16:03] ransombriggs commented on #198
@mdizzy Do you also have `~/.heroku/node_modules/heroku-apps/` ?  Also, do you have any [npmrc](https://docs.npmjs.com/files/npmrc) config files?

[2016-02-11 18:04] mdizzy commented on #198
No my node_modules directory is EMPTY my npmrc has one line in it
global=true

[2016-02-11 22:05] npalmius commented on #84
@CMCDragonkai, nice one :)

Even better, just run `cygstart zsh` from the bash shell, then run `heroku login`, then close the zsh shell and bash works just fine.

What I really don't understand about this issue though is that other programs like ssh work fine hiding the password.

[2016-02-11 22:34] ransombriggs commented on #198
@mdizzy this makes sense now as it is installing globally and the heroku toolbelt is looking in `~/.heroku/node_modules/`, I will investigate if there is a way for override that within the toolbelt.

[2016-02-11 22:58] ransombriggs commented on #198
@mdizzy I was able to reproduce your problem and have shipped a fix.  Please run `heroku update` and verify you have `heroku-cli/4.27.20-ddecfd7` with `heroku version`.

[2016-02-12 05:30] mdizzy commented on #198
Of course heroku updated didn't work so I rm -rf'd the .heroku directory ran heroku login and voila! I'm in. I'll check out the commit to see what was the problem!

Thanks so much.

[2016-02-12 05:33] mdizzy commented on #198
https://github.com/heroku/heroku-cli/commit/792f727566f74a694b0db1b110a6f1f23046966c

That's what I've been going bonkers over? LOL thanks so much for the fix.

[2016-02-12 05:33] #198 closed

[2016-02-12 11:06] edmorley opened #201 "'heroku labs' requires specifying the app manually using '--app'"
**STR:**
1. $ `heroku labs`
2. $ `heroku labs --app myapp`

**Expected:**
For a correctly configured repo (ie the heroku remote set), it shouldn't be necessary to specify `--app myapp`. ie the output from (1) and (2) should be identical.

**Actual:**
When the `--app myapp` is omitted, the output reports "no app specified".
[code]

However when I use eg the `heroku ps` command, that works fine with

[2016-02-15 23:38] dapullar opened #203 "Error reading plugin: heroku-pipelines"
I'm not sure what happened in the past day. Attempting to use heroku-cli today I ran into the error below. Please, I need a fix as soon as possible.

I have attempted a full reinstall, installing heroku-piplines through npm, heroku plugins:install ... but always same outcome.

[code]

[2016-02-15 23:44] rpanchal commented on #203
I'm experiencing this as an error on my codeship.io deployment.

[2016-02-15 23:45] rohan-panchal commented on #203
I'm experiencing this issue as well on codeship.io deployments.

[2016-02-15 23:46] lonniganseaweed commented on #203
I'm having this issue as well

[2016-02-15 23:47] emilebosch commented on #203
I find it in general really rude btw that heroku decides to update my plugin, just when i about to rollback a faulty deploy.

[2016-02-15 23:49] samrae7 commented on #203
I'm having the exact same issue

[2016-02-15 23:52] emilebosch commented on #203
https://status.heroku.com pretends like everything is still fine

[2016-02-15 23:54] rpanchal commented on #203
Heroku-pipelines is the new feature they announced right? If so.... I think they forgot something....

[2016-02-15 23:55] kthffmn commented on #203
I'm also encountering this issue (Mac OS X).

[2016-02-15 23:56] tonybaroneee commented on #203
Same issue, Mac OS X.

[2016-02-15 23:56] shian48263 commented on #203
same thing happened to me... mac osx!!!

[2016-02-15 23:58] dapullar commented on #203
To clarify, I am also Mac OS X

[2016-02-16 00:00] rpanchal commented on #203
This is referenced on codeship's status page here http://codeshipstatus.com/

[2016-02-16 00:02] bradpauly commented on #203
It's still working for me on Yosemite (10.10.5).

node v0.12.4

heroku-toolbelt/3.42.36 (x86_64-darwin10.8.0) ruby/1.9.3
heroku-cli/4.27.21-839acbb (amd64-darwin) go1.5.3

[2016-02-16 00:13] stevo550 commented on #203
Hi everyone,

Thanks for reporting this in. We are tracking this on our status site as an incident here: https://status.heroku.com/incidents/851

We'll be updating there as soon as we know more.

Steven
- Heroku Support

[2016-02-16 00:45] dapullar commented on #203
New update/rollback is working great so far (y)

[2016-02-16 00:57] lonniganseaweed commented on #203
Update has fixed the issue for me. Thanks to the engineers :+1:

[2016-02-16 00:58] rpanchal commented on #203
Fixed it for me as well

[2016-02-16 00:58] shian48263 commented on #203
Fixed. Great work there!

[2016-02-16 01:06] hugw commented on #203
I still can't install heroku, tried deleting `.heroku` and reinstalling toolbelt but always get stuck: http://hugw.d.pr/1kbxp

[2016-02-16 01:35] stevo550 commented on #203
If anyone is still experiencing issues with the Heroku CLI please contact us through the Heroku Support interface here: https://help.heroku.com/

[2016-02-16 21:32] dickeyxxx commented on #201
this will be fixed with this: https://github.com/heroku/heroku-apps/pull/31

[2016-02-16 21:34] edmorley commented on #201
Awesome, thank you :-)

[2016-02-17 00:05] #203 closed

[2016-02-18 22:09] ransombriggs opened #204 "Fix retry uninstall step to only uninstall installed core plugins"
The uninstall behavior of npm has changed so that now it gives an error on uninstall when it is called with a non-existant module.  The RemovePackages command should only be called with installed core plugins to prevent this error.

[2016-02-19 00:05] sfurtado88 commented on #198
I am trying to login to heroku for the FIRST time and still getting the issue. I have also already retired removing .heroku and reinstalling but nothing is working. I am going in circles here:

PS - heroku version gives the same error.

MAC version: 10.11.3

heroku login
heroku-cli: Adding dependencies...
 ▸    Get https://cli-assets.heroku.com/node/v5.4.1/node-v5.4.1-darwin-x64.tar.gz: x509: cert

[2016-02-19 15:22] ransombriggs commented on #198
@freedmandil @sfurtado88 Are you behind a proxy server or going through a network tunnel?  This error usually comes when a proxy server is rewriting the server certificate.  I would like to recreate this configuration in my testing setup, so any information you have about your proxy server would be helpful.

[2016-02-19 18:50] sfurtado88 commented on #198
We are not going through a proxy server or network tunnel.

[2016-02-20 17:24] freedmandil commented on #198
I have a internet filtering company, to which I can whitelist ip addresses
as needed
if its https it is a problem

On Fri, Feb 19, 2016 at 8:50 PM, sfurtado88 <notifications@github.com>
wrote:

[2016-02-23 03:07] lakesare opened #206 "Download stuck at "heroku-cli: Installing core plugins...""
I uninstalled heroku gems, and now, after installing it again via `wget -O- https://toolbelt.heroku.com/install-ubuntu.sh | sh`, and running `heroku`, I'm getting stuck at:

[code]

which never progresses. I used to have it functioning until I decided to reinstall it. How do I go about it?

[2016-02-23 03:12] lakesare commented on #206
'Never progresses' figured out to be 'progresses after 10 minutes'.

[2016-02-23 03:12] #206 closed

[2016-02-23 12:12] rbashish commented on #84
**Login is currently incompatible with git bash/cygwin**
**Log in with Windows cmd.exe, it will work:**

![rbashish_heroku](https://cloud.githubusercontent.com/assets/6831399/13251039/c3b04a40-da53-11e5-8069-39d85a8e6684.PNG)

![rbashish_heroku_cmd](https://cloud.githubusercontent.com/assets/6831399/13251180/a8236dec-da54-11e5-9771-cdb057f9e8a3.PNG)

[2016-02-23 15:16] ransombriggs commented on #84
@rbashish It appears that you did not enter your email or password correctly.  I have been able to login successfully via cmd.exe.  Could you please try again?

[2016-02-23 22:05] ptater commented on #198
Is there another fix? I am afraid IT department for our organization does not allow us to add ip addresses due to security issues.

[2016-02-23 22:33] sfurtado88 commented on #198
Ok, we can close this issue. It turns out we had antivirus software blocking the connection. We switched it off and it started working. Thanks!

[2016-02-24 06:37] rbashish commented on #84
@ransombriggs Thank you for replying. Apparently I have stated the reason  that login will not work in Git Bash and it will work on cmd.exe. Please read the second line.

And Intentionally, I have input the wrong email id and password to show that it does not give error as it used to give in Git bash.

[2016-02-25 15:38] ransombriggs commented on #198
@ptater Is there a way for request IP / hostnames to be added, if so I can try and put together a list for you.

[2016-02-25 16:15] dickeyxxx commented on #198
We can't provide IP addresses
On Thu, Feb 25, 2016 at 7:38 AM Ransom Briggs <notifications@github.com>
wrote:

[2016-02-25 19:12] freedmandil commented on #198
is it possible to add a tag that stops using ssl or certifiate encryption?
I had a similar problem in another program and disabling ssl encryption
solved the problem

On Thu, Feb 25, 2016 at 6:15 PM, Jeff Dickey <notifications@github.com>
wrote:

[2016-02-25 19:14] ptater commented on #198
@freedmandil  i disabled my anti-virus and it worked. Thanks

[2016-02-25 19:36] ransombriggs commented on #198
@freedmandil does your internet filtering company also rewrite https certificates?  If you go to https://cli-assets.heroku.com who is the certificate signed by?

[2016-02-25 20:21] freedmandil commented on #198
yes it rewrites certificates
netspark.com

On Thu, Feb 25, 2016 at 9:36 PM, Ransom Briggs <notifications@github.com>
wrote:

[2016-02-25 21:25] ransombriggs commented on #198
@freedmandil When sites are added to the ‘Do not inspect’ list, does the proper certificate show up?  Do you have permissions to add to the '‘Do not inspect’ list?  Another option is to try and add the certificate for netspark.com to the trusted authorities, does netspark.com provide this / have instructions on how to add?

Could you open this as a separate issue as well since this is a different

[2016-02-26 08:41] JacobPotter opened #208 "Heroku CLI creating seg faults"
Anytime I run any heroku command, I get the following:

[code]

I tried the debug flag with no luck.

I am running Ubuntu 14.04.

[2016-02-26 13:52] jkutner opened #209 "Install message should not link to Github"
The link in this message will not be helpful to customers:

[code]

We should not point users to source code instead of documentation. Is there a Dev Center article that can be used instead?

[2016-02-26 15:54] ransombriggs commented on #208
@jpbbroncos53 Could you please append the output of `uname -a` and `cat /proc/cpuinfo` ?

[2016-02-26 15:59] dickeyxxx commented on #209
It does point to documentation. The point is the README, not the source code. Adding this stopped a lot of emails coming in with confusion about "what is v4". I'm not sure why you think it isn't helpful.

You're not wrong another place might be more fitting though. I've made unsuccessful attempts at moving it to a blog post, but I can try again.

[2016-02-27 20:07] jpbbroncos53 commented on #208
First bit:
Linux BATCAVE 4.2.0-30-generic #35~14.04.1-Ubuntu SMP Fri Feb 19 14:48:13 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Second command:
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 58
model name	: Intel(R) Core(TM) i5-3570K CPU @ 3.40GHz
stepping	: 9
microcode	: 0x16
cpu MHz		: 1599.859
cache size	: 6144 KB
physical id	: 0
siblings	: 4
core id		: 0
cpu cores	: 4
apicid		: 0

[2016-02-27 20:07] jpbbroncos53 commented on #208
I've attempted to uninstall and reinstall heroku with no luck

[2016-02-28 10:53] leesei commented on #209
@dickeyxxx
How about
https://github.com/heroku/heroku-cli#readme
https://github.com/heroku/heroku-cli#overview
to be more specific?

[2016-02-29 20:14] ransombriggs commented on #208
@jpbbroncos53 Could you running the following command?  It should give some more logging output that should help find the source of the problem.

`HEROKU_DEBUG=1 GODE_DEBUG=info heroku update`

[2016-03-02 18:17] Subway19 opened #213 "Unable to run heroku login(unable to install dependencies)"
When i run heroku login- I am getting the following errors on command prompt.
I tried `npm cache clean` and set HTTPS PROXY Environment variable but nothings working.
Seems like it is unable to install core plugins.
Couldnt find answer anywhere so had to post it here
[code]

[2016-03-03 17:04] ransombriggs commented on #213
@Subway19 Could you set both `HTTP_PROXY` and `HTTPS_PROXY` and try again?

[2016-03-03 17:55] Subway19 commented on #213
`heroku login ` working now .However when i try to deploy using `heroku create telecheck`
i get following error
[code]

[2016-03-03 18:04] ransombriggs commented on #213
@Subway19 could you please rerun with `HEROKU_DEBUG=1` and attach the output and anything that might be relevant in `C:\Users\Sumant Bagade\AppData\Local\heroku\error.log` ?  From the error you pasted, it looks like it might be a problem with your proxy server as `184.72.252.139` is the server for heroku and `192.155.197.230` must be your proxy server.

[2016-03-04 22:24] rikkipitt opened #218 "~/.netrc - add account name?"
Hi guys,

Just wondering if you'd consider adding the current logged in account name (from https://github.com/heroku/heroku-accounts) to the `.netrc` file?

I think it would be useful for quickly determining what account is currently logged into so we can include the name of the account in our terminal prompts... otherwise, is there a way of quickly gleaning this information?

References:
https://

[2016-03-04 23:43] dickeyxxx commented on #218
I'd accept a PR on that plugin for this.

[2016-03-04 23:43] dickeyxxx commented on #218
I'll need to close this issue though because it doesn't involve this project.

[2016-03-04 23:43] #218 closed

[2016-03-05 11:58] rikkipitt commented on #218
Thanks @dickeyxxx, I've taken a look at the latest heroku-accounts plugin (which works differently to the original) and have submitted a simple update to help glean the currently logged in account without pinging Heroku: https://github.com/heroku/heroku-accounts/pull/10

Let me know if you deem this to be an acceptable addition. It should mean we can add this command to our command line prompts wi

[2016-03-07 06:05] Subway19 commented on #213
Getting following error in heroku login

`! Post https://api.heroku.com/login: dial tcp: lookup api.heroku.com: get addrinfow: No such host is known`

I am sure i have typed the right username and password

[2016-03-07 06:39] Subway19 commented on #213
Well the problem was with my DNS settings. The app has been successfully deployed here:
`https://telecheck.herokuapp.com/home`

However some of the links(in the navbar) which were working fine locally are not working in the live site i dont know why. I am figuring it out.

[2016-03-07 13:31] AnwarShah commented on #129
+1. This is annoying

[2016-03-10 00:36] dickeyxxx opened #220 "fix race condition with npm"
It's possible npm can be loading while a background update process is replacing node with a different version. See this ticket for context: https://support.heroku.com/tickets/343138

This would only happen once. The next command should be on the new node/npm install and work fine.

[2016-03-10 03:01] dickeyxxx commented on #220
this might actually be an issue running `heroku plugins:instal *` on a circleci vm. Will investigate more.

[2016-03-11 22:17] jdxcode opened #224 "shell autocompletion should be provided with homebrew installs"
we can do it like docker does:

[code]

NOTE: we don't actually have completions yet, but this provides an easy way to install them

[2016-03-14 22:21] sionv commented on #208
I'm having a very similar issue, so I'll tack it on to this one.  Let me know if I should do otherwise.

I'm doing an install on a raspberry pi zero.
After
wget -O- https://toolbelt.heroku.com/install-ubuntu.sh | sh:

entering: heroku version    gives the following:

pi@raspberrypi:~ $ heroku version
heroku-cli: Installing core plugins...
 ▸

 ▸    signal: segmentation fault
heroku-cli: Installing

[2016-03-16 16:09] Taytay opened #226 ""Error: Cannot find module 'readable-stream'" when running `heroku update`"
To my knowledge, this Heroku installation on Linux has been working for some time without issue. However, now I get the following error when running `heroku update`:

[code]

I do not know if this is a factor or not, but here are my plugins:
[code]

[2016-03-16 16:42] dickeyxxx commented on #226
do you get this consistently? what is the output of `heroku version`?

[2016-03-16 17:15] Taytay commented on #226
I did get it consistently, and then I uninstalled and reinstalled, and that fixed it, so we can close this. Here was the version info at the time:

[code]

[2016-03-16 17:15] #226 closed

[2016-03-16 17:26] dickeyxxx commented on #226
that version of `heroku-toolbelt` is quite a bit out of date, that could've caused this

[2016-03-16 18:04] Taytay commented on #226
Thanks @dickeyxxx for the followup!

[2016-03-17 11:10] Subway19 commented on #213
The issue is resolved now . Closing this issue #213.

[2016-03-17 11:10] #213 closed

[2016-03-21 21:32] #204 closed

[2016-03-22 08:01] JimmyRare opened #229 ""Invalid argument" on Windows 7"
No matter which heroku command I run I get this error:

[code]

[2016-03-22 15:18] ransombriggs commented on #229
@JimmyRare What happens when you run the following command manually?  Also do you have any restrictions on executables on your `%LOCALAPPDATA%` directory?  Which in your case appears to be `C:\Users\jimmy.engstrom\AppData\Local` .
[code]

[2016-03-23 20:32] dickeyxxx commented on #123
this is fixed now

[2016-03-23 20:32] #123 closed

[2016-03-27 20:59] velo commented on #84
I got this when I tried to login...
![image](https://cloud.githubusercontent.com/assets/136590/14067857/b13aae36-f4cb-11e5-9893-bd1dc7cc2872.png)

[2016-03-28 07:27] rbashish commented on #84
@velo Try using "**cmd prompt**". If you get the same error then there might be some problems with the dependent software - try reinstalling it.

[2016-03-28 15:30] ransombriggs commented on #84
@velo Could you open a separate issue?  Could you include how you configured `/cygdrive`?  The heroku command when run from cygwin basically re-executes itself with the ruby that is installed as part of the toolbelt.  This is the line that is failing for you https://github.com/heroku/heroku/blob/master/resources/exe/heroku#L4 because `$0` has `/cygdrive` prefixed in front of it.

[2016-03-31 03:33] dickeyxxx commented on #96
Following up on this, had a chance to test on a new raspberry pi and I didn't see this issue.

Is anyone still experiencing this?

[2016-03-31 18:36] #220 closed

[2016-03-31 20:20] sbleon opened #235 "Crash when auto-updating on OS X El Capitan (invalid memory address or nil pointer dereference)"
[code]

[2016-03-31 20:28] #235 closed

[2016-04-03 14:15] ArtoriusXIII opened #239 "heroku-cli installing core plugins fail"
artoriusxiii@artoriusxiii-VirtualBox:~$ heroku login
heroku-cli: Installing Toolbelt v4... done
For more information on Toolbelt v4: https://github.com/heroku/heroku-cli
heroku-cli: Adding dependencies... 12.2 MB/12.2 MB
heroku-cli: Adding dependencies... 4.34 MB/4.34 MB
heroku-cli: Installing core plugins (retrying)...
 ▸    Error installing package.
 ▸    npm ERR! Linux 4.2.0-27-generic
 ▸    np

[2016-04-04 15:40] ransombriggs commented on #239
@ArtoriusXIII are you behind a network proxy?

[2016-04-05 11:22] trsantos commented on #235
Hi. I'm getting a similar error on FreeBSD since a few days ago:

[code]

[2016-04-05 18:00] dickeyxxx commented on #235
I think you're on `4.27.5-39eade2` which was a bad release unfortunately. Can you delete `~/.heroku/heroku-cli` and try again?

[2016-04-05 20:10] ransombriggs commented on #229
@JimmyRare Are you running BitDefender antivirus software, a user encountered an error like this who had BitDefender installed, which started blocking this executable.

[2016-04-06 11:15] trsantos commented on #235
Sure. But now, after deleting the entire `.heroku` directory, I got the following error:
[code]
Should I create a different issue for this?

[2016-04-06 22:34] rohalla2 commented on #96
@dickeyxxx I'm still unable to install the toolbelt.  My error has been different from others in this thread, though, so it's possibly unrelated
[code]

[2016-04-07 01:09] jjb opened #243 "heroku update always exits with non-zero status on ubuntu"
On ubuntu, when running `heroku update` to update plugins, this happens:

[code]

and it exits with non-zero status. this is not ideal in cases where it's being run inside a script (such as, in my case, Vagrant provisioning)

[2016-04-08 08:26] #201 closed

[2016-04-08 08:26] #31 closed

[2016-04-08 08:28] dickeyxxx commented on #42
closing since this is now standard practice and available on most commands (and if there are any that are missing please let me know)

[2016-04-08 08:28] #42 closed

[2016-04-08 08:30] dickeyxxx commented on #96
which model are you running @rohalla2?

[2016-04-08 08:31] dickeyxxx commented on #57
not sure why this is still open, but I improved this a bit. Now it will fall back to the `node` in the `PATH` if there isn't an available binary. (Though I can't guarantee it will work for old versions of node)

[2016-04-08 08:31] #57 closed

[2016-04-08 08:33] dickeyxxx commented on #185
Closing due to inactivity. Reply if you are still experiencing this issue.

[2016-04-08 08:33] #185 closed

[2016-04-08 08:33] dickeyxxx commented on #190
Closing due to inactivity. Reply if you are still experiencing this issue.

[2016-04-08 08:33] #190 closed

[2016-04-08 08:34] dickeyxxx commented on #188
Closing due to inactivity. Reply if you are still experiencing this issue.

[2016-04-08 08:34] #188 closed

[2016-04-08 08:34] dickeyxxx commented on #131
Closing due to inactivity. Reply if you are still experiencing this issue.

[2016-04-08 08:34] #131 closed

[2016-04-08 08:35] dickeyxxx commented on #91
@chavenor this was due to the `TEMP` env var having some invalid characters right?

[2016-04-08 14:18] rohalla2 commented on #96
I'm using a Model B+

[2016-04-08 15:31] chavenor commented on #91
Yes

[2016-04-08 15:32] #91 closed

[2016-04-08 17:04] cac04 commented on #57
Thank you for your help.

[2016-04-08 20:16] dickeyxxx commented on #235
can you try once more? I fixed that one this morning

[2016-04-08 20:17] dickeyxxx commented on #235
It should be good now, I finally got around to setting up a freebsd vm

[2016-04-08 20:51] ransombriggs commented on #243
@jjb I just released https://github.com/heroku/heroku/pull/1926 to fix your issue.  Just make sure to run `apt-get install heroku-toolbelt` to get the latest first.

[2016-04-08 20:51] #243 closed

[2016-04-09 13:14] trsantos commented on #235
Everything is ok now, thank you so much! BTW, it is also great that heroku can use the system's node from now on.

[2016-04-09 14:12] #209 closed

[2016-04-10 02:27] ValeArchuleta opened #249 "Heroku commands throwing error on Ubuntu 14.04"
[sáb abr 09 07:22:04 lobita ~] $heroku --version
heroku-cli: Installing core plugins...module.js:341
    throw err;
    ^

Error: Cannot find module 'heroku-apps'
    at Function.Module._resolveFilename (module.js:339:15)
    at Function.Module._load (module.js:290:25)
    at Module.require (module.js:367:17)
    at require (internal/module.js:16:19)
    at Object.<anonymous> (/tmp/heroku-script-2

[2016-04-10 02:44] dickeyxxx commented on #249
there was a bug that went out earlier, if you run `heroku update` it should resolve itself.

[2016-04-10 04:53] ValeArchuleta commented on #249
![screenshot from 2016-04-09 17 38 16](https://cloud.githubusercontent.com/assets/18062801/14408168/7ca907d6-fe9d-11e5-9629-8980aa6997ae.png)
 Every command gives me this

[2016-04-10 04:56] ValeArchuleta commented on #249
![screenshot from 2016-04-09 21 53 05](https://cloud.githubusercontent.com/assets/18062801/14408180/e970a752-fe9d-11e5-9c6b-bdaf51680244.png)

Every command i give to heroku does the same

[2016-04-10 05:16] dickeyxxx commented on #249
try deleting `~/.heroku`

[2016-04-10 06:09] #249 closed

[2016-04-10 12:30] dickeyxxx commented on #96
I put a lot more debugging in around this. Can you try again with HEROKU_DEBUG and GODE_DEBUG set again?

[2016-04-10 14:49] rohalla2 commented on #96
[code]

[2016-04-10 17:01] dickeyxxx commented on #96
If you run '/home/pi/.heroku/node-5.10.1-linux-arm/node /home/pi/.heroku/npm-3.8.5/cli.js install heroku-apps heroku-cli-addons heroku-fork heroku-git heroku-local heroku-orgs heroku-pipelines heroku-run heroku-spaces heroku-status --loglevel=info' does it still show the illegal instruction error?

[2016-04-10 17:17] rohalla2 commented on #96
No, all it does is print `Illegal Instruction`:
[code]

[2016-04-10 17:35] dickeyxxx commented on #96
Well we are getting somewhere, seems to be a problem with the precompiled
node. You could try compiling it yourself and putting it into
~/.heroku/node-5.10.1-linux-arm/node
On Sun, Apr 10, 2016 at 12:17 PM Jeff Rohalla <notifications@github.com>
wrote:

[2016-04-10 23:59] jjb commented on #243
🆒

[2016-04-11 04:24] cdwort opened #250 "Heroku Run: Provide a better warning when user is not connected to the internet"
This is what the user sees when they fly into an offsite and are up late and don't realize they haven't set up internet at the AirBnb.

[code]

<img width="644" alt="screen shot 2016-04-10 at 11 20 53 pm" src="https://cloud.githubusercontent.com/assets/1014482/14416753/b16fc8d6-ff7b-11e5-8d30-7389be87f84a.png">

[2016-04-11 04:25] cdwort opened #251 "Heroku Run: Provide a better warning when user is not connected to the internet"
This is what the user sees when they fly into an offsite and are up late and don't realize they haven't set up internet at the AirBnb.

[code]

<img width="644" alt="screen shot 2016-04-10 at 11 20 53 pm" src="https://cloud.githubusercontent.com/assets/1014482/14416753/b16fc8d6-ff7b-11e5-8d30-7389be87f84a.png">

[2016-04-12 08:24] destenson commented on #84
It would be nice if this would get fixed, but in the mean time, the best way to launch a cmd prompt from a different (cygwin/git bash/etc.) shell is to run
[code]

[2016-04-12 20:32] dickeyxxx opened #252 "Keychain on OSX"
Look into using Keychain instead of the netrc file on OSX

[2016-04-13 00:34] lorenzsell commented on #123
This is still not fixed in the latest Heroku toolbelt release as far as I can tell.

[2016-04-13 18:00] dickeyxxx commented on #251
dupe of #250

[2016-04-13 18:00] #251 closed

[2016-04-13 18:02] jdx opened #253 "suggest plugins to install"
For known topics, we should point the user to the plugin to install, for example:

[code]

[2016-04-13 18:02] dickeyxxx commented on #253
cc @heroku/dod-kzc @heroku/dod-ux

[2016-04-13 20:47] uhoh-itsmaciek commented on #253
That's just an informational '@', right? This looks great. Does this cover the `kafka` and `cassandra` topics?

[2016-04-13 20:58] dickeyxxx commented on #253
Yeah, though I'm curious what your thoughts are. My plan is to have a static map inside the CLI that knows what topics map to what plugins. Something like:

[code]

[2016-04-13 21:00] uhoh-itsmaciek commented on #253
Yeah, that looks reasonable to me. @neovintage and @rand may have some thoughts, too.

[2016-04-13 21:11] dickeyxxx commented on #252
I suppose we can't really do this (or at least, it wouldn't be useful) since we need the netrc file for git pushes.

[2016-04-13 21:11] #252 closed

[2016-04-13 21:38] rand commented on #253
This looks reasonable and appropriate to me.

[2016-04-13 21:44] tt commented on #253
I just had a use case for this. Why output an instruction instead of installing the plug-in, though? That seems like the better user experience. Then all of the whitelisted plug-ins are transparent extensions of the CLI.

[2016-04-13 22:07] halorgium commented on #253
How are we distributing the kafka CLI plugin pre-GA? Is it going to be available publicly?

[2016-04-13 22:11] rand commented on #253
@tt I like the seamlessness of installing on attempted use... but I can also see that feeling like a violation (installing code without explicit user action). I could go either way on that one.

@halorgium we'll be pushing the kafka cli plugin to public npm at public beta - people still won't be able to use it without being whitelisted, though. (https://trello.com/c/ZukPVlOV/137-public-beta-checkl

[2016-04-13 22:15] tt commented on #253
@rand, yeah, I thought about that too but the CLI already auto-updates.

[2016-04-13 22:16] rand commented on #253
@tt fair point. Concern retracted.

[2016-04-14 14:48] sbleon opened #254 "Using addons:open without specifying a remote produces crazy output"
My project has two heroku remotes (for prod and stage). If I run `heroku addons:open papertrail` without specifying a remote (`-r`) or application (`-a`), it takes a long time to respond, then dumps out almost 2MB of output like this to STDERR:

[code]
etc.

It should say probably say something like "please specify a remote or application".

[2016-04-14 15:42] jdx opened #255 "Password reset should be available from CLI"

[2016-04-14 15:44] jdx opened #256 "Suggest flag options"
Such as misspelled app name

[2016-04-14 15:45] dickeyxxx commented on #224
Dcid could show if autocomplete is enabled and tell the user how to use it

[2016-04-14 15:57] dickeyxxx commented on #254
@heroku/add-ons

[2016-04-14 15:59] dickeyxxx commented on #123
Can you show me an example?

[2016-04-15 02:22] bjeanes commented on #254
Hi @sbleon, this turned out to be a bug in the API code that resolves `papertrail` to add-ons you have access to. `papertrail` is unambiguous for a specific app but across your entire account you might have more than one, so we show this ambiguous error if we can't determine the specific instance you desired across all your apps. In this case, a bug in the resolver was searching across all papertr

[2016-04-15 02:22] #254 closed

[2016-04-15 16:33] sbleon commented on #254
Thanks, @bjeanes!

On Thu, Apr 14, 2016 at 10:22 PM, Bo Jeanes <notifications@github.com>
wrote:

[2016-04-16 22:08] dickeyxxx commented on #250
this is now sort of fixed here: https://github.com/heroku/heroku-cli-util/commit/afdb9314c649e45dc8884528b357e819a47089f2

At least it won't show the rollbar error. At some point I might look into decorating ENOTFOUND, but there are probably a few different errors that could show up if there is no internet connection (like ETIMEOUT)

[2016-04-16 22:08] #250 closed

[2016-04-16 23:52] dickeyxxx commented on #253
I'd like to start here at least. I don't think it would be cumbersome to have to copy+paste a command, and I think the user would prefer rather than it just downloading what we think they need. We could get it wrong too, there might be another plugin that also has redis:* commands.

[2016-04-18 21:35] dpetersen commented on #129
I've built some docker images for useful tasks, like pulling the latest database backup onto our staging server. Autoupdate completely screws that up, and I keep having to rebuild my image from scratch so there's nothing to update. Any automated processes that use the CLI run into this issue.

[2016-04-18 21:57] dickeyxxx commented on #129
I'm actively working on this now, but it's a big project and I'm not sure when it will land.

[2016-04-19 20:42] toots commented on #129
Guys, seriously, how hard can it be to add an option to disable this? Our heroku cli keeps breaking in our automated docker image system and it is really, really annoying.

[2016-04-20 15:27] AnwarShah commented on #129
I just hardcoded the heroku-cli not to check for upgrade. :D

[2016-04-20 21:43] ransombriggs opened #257 "Truncate error.log in a memory efficient fashion"
Right now the whole thing is loaded in memory and only the last X lines are kept.  A user with a runaway error.log file ran out of memory so we should switch this to a two pass thing, where we first scan for number of lines, then go back and skip lines until X are left.

[2016-04-21 18:27] jdxcode opened #258 "Default arg/flag functions"
This is a proposal to make the CLI more general purpose and less Heroku-specific, but it would also help us do more interesting things in plugins.

Some flags are very special in the CLI, like `--app` especially. `--app` maps to `context.app`, but if the flag is not set, it goes through a bunch of logic to determine the app such as checking if `--remote` is set, `HEROKU_APP`, or if there is a hero

[2016-04-21 18:57] dickeyxxx commented on #258
This could also be handy for addon resolving

[2016-04-21 21:36] dickeyxxx opened #259 "The Great Subcommanding"
I'd like to simplify our help by reducing the amount of topics we have in the CLI by nesting them in different places. For example, `heroku stack` and `heroku stack:set` are virtually useless now. This topic sits at the top-level though, so when `heroku help` is run, they show up alongside everything else. I think they're better moved to `heroku apps:stacks` and `heroku apps:stacks:set` (plural fo

[2016-04-21 21:51] dickeyxxx commented on #259
cc @heroku/ecosystem

[2016-04-21 21:53] naaman commented on #259
👍

[2016-04-21 22:03] bjeanes commented on #259
I only think this makes sense if you can have more than 1 `stack` for an app, which you can't.

[2016-04-21 22:04] bjeanes commented on #259
@dickeyxxx this sounds awesome. 👍  on the plan.

[2016-04-21 22:05] dickeyxxx commented on #259
@bjeanes we might be able to make that command hidden, because I don't think we're intending to ever use it again, so the point may be moot. Though  `heroku stack` lists all the available stacks, which seems like it would be better plural.

[2016-04-21 22:11] dickeyxxx commented on #259
cc @heroku/devcenter

[2016-04-22 01:38] dickeyxxx commented on #259
@bjeanes your comment made me think though, we should be more flexible in regards to accepting non-plura names when the command is plural. heroku app:buildpack should be the same as heroku apps:buildpacks since we know what the user meant

[2016-04-27 17:38] lorenzsell commented on #123
![1__heroku-cli_and_0_of_1_uploaded_-_youtube](https://cloud.githubusercontent.com/assets/223508/14861923/4687d78e-0c7d-11e6-9a8f-32e08d9c8580.jpg)

[2016-04-27 18:33] dickeyxxx commented on #259
@heroku/dod-ux @heroku/dod-kzc I feel like if we do this, it would make sense to bring in heroku-redis, heroku-kafka, etc into the core. Free up useless commands for some we want to promote!

[2016-04-27 18:51] uhoh-itsmaciek commented on #259
Are we set on the `topic:subtopic:command` syntax? With `pg:backups` we went with `topic:subtopic command`, which I believe we had discussed with CLI (I think it was even you @dickeyxxx) at the time. It would kinda suck to have inconsistent hierarchical namespacing.

Other than that, +1 on namespace cleanup.

[2016-04-27 18:54] dickeyxxx commented on #259
@uhoh-itsmaciek that predated me, I've always pushed for subtopics. With the new CLI I can (though haven't yet) start doing better things with help using it. Essentially when someone runs `heroku help pg:backups` I could list out everything under `heroku pg:backups:*`. If the command has it's own subcommanding logic I won't be able to do that.

[2016-04-27 18:55] dickeyxxx commented on #259
behind the scenes it'll be really primitive, just set up like this:

[code]

But when I run help I can just filter things matching the string before the colon. I think it'll work pretty well.

[2016-04-27 19:26] jdxcode opened #262 "Aliasing is getting unwieldy"
related to #259, I'd like to start having way more aliases for things, but they are getting relatively unwieldy. I'd like a better pattern for making them.

Here is the most current method:

[code]

But this is annoying to write and verify all the permutations are met. Any ideas on how to clean this up? Setting up a good pattern here will help us be to provide lots of aliasing to help our users fi

[2016-04-27 19:27] dickeyxxx commented on #262
cc @hunterloftis, @raulb

[2016-04-27 19:49] hunterloftis commented on #262
My opinion shouldn't count for much as I massively dislike aliases (for no good technical reason, I just subscribe to the pythonist mantra of "There should be one-- and preferably only one --obvious way to do it.")

I prefer your first example with the big list of aliases (since it's very straightforward to understand). The second example is a little shorter but way harder to understand at a glanc

[2016-04-27 19:50] dickeyxxx commented on #262
Keep in mind these are all hidden, you would only see them if you "mistyped" the right command.

[2016-04-27 19:53] dickeyxxx commented on #262
The other reason this is important is I want to move command around, like `heroku stacks -> heroku apps:stacks`, but I need to keep the old command around basically forever to match any documentation/stackoverflow/muscle memory.

[2016-04-27 19:53] hunterloftis commented on #262
Do they actually execute the right command, or do they show you a thing like git "did you mean {foobar}?"

[2016-04-27 19:53] dickeyxxx commented on #262
it'll just execute the right command, potentially showing a warniing

[2016-04-27 19:54] dickeyxxx commented on #262
maybe a warning in some cases where we really want to change meaning, like `addons:add -> addons:create`

[2016-04-27 19:55] hunterloftis commented on #262
Okay gotcha. I'm just a crotchety old cli user who prefers a straightforward error message to a smart parser. ;) I don't mind git's suggestions when I typo though.

Your aliases array solution looks solid to me. I'd be comfortable editing it and I wouldn't worry I was breaking something because it's very simple. And even though it can get long, the complexity will remain very low.

[2016-04-27 21:10] dickeyxxx commented on #262
you might be right, I might be making it a bit too liberal especially given we have an autosuggester already. I just feel like if I am certain I know the command the user meant it should just work.

Having said that I don't like how npm's cli allows you to type in ridiculous things like `npm tes` and have it run `npm test` with this thing: https://github.com/isaacs/abbrev-js

[2016-04-28 01:33] uhoh-itsmaciek commented on #147
Nice, +1. I think it's pretty low-priority because it's not consistently supported in other modern tools anyway, so I've unlearned it, but it'd be handy.

[2016-04-28 01:47] dickeyxxx opened #263 "Windows installer should have PATH option"
This is an easy change, I'm just leaving it for reference. The NSIS installer config should have a separate checkbox for adding heroku to the PATH, some users might want to do that on their own and we shouldn't just be mindlessly editing the PATH. (Though it should default to enabled)

[2016-04-28 01:59] jdxcode opened #264 "Native dependencies fail on windows"
Native dependencies require node-gyp, which has some dependencies on windows: https://github.com/nodejs/node-gyp#installation

But having python and VS is probably not enough, in addition to warning these are required, we probably also will need to set some flags for npm when installing a plugin if we want to start using native deps.

[2016-04-28 02:01] uhoh-itsmaciek opened #265 "Support a `parse` option to flags (and arguments?)"
I've found a couple of places where we would like to support a "duration" flag, and the natural place for that seems like it'd be the flags specification mechanism itself. That is, right now, the flags are just returned as strings, and it's up to the command code to parse them. If there are several related commands, it's hard to extract generalized flag parsing and error handling.

It'd be great t

[2016-04-28 02:04] dickeyxxx commented on #265
It seems you're asking for my proposal here: https://github.com/heroku/cli/issues/258

Definitely something I want to add.

[2016-04-28 02:04] dickeyxxx commented on #265
I think it would need to accept more than just the arg though, it might need more context like what the other arguments are.

[2016-04-28 02:05] dickeyxxx commented on #265
Though, and I'm just now thinking of this, maybe that would be better accomplished by modifying process.argv before the plugin runs.

[2016-04-28 10:21] uhoh-itsmaciek commented on #265
Nice, I think #258 would help, but that seems specific to defaults: I think having custom parsing (with built-in stuff for common formats like numbers and booleans, like in `argparse`) would let us do simple validation of the parameters and transform them into something easier to work with. The hard part with flags and arguments is that input always comes in as strings but generally represents som

[2016-04-28 12:08] jonmountjoy commented on #259
Great idea.  Some thoughts:

Presumably the existing behavior will remain, while becoming secondary through the use of aliases?

With more to type, I'm sure there'll be more errors too.  ```heroku apps:maintenance:on -a x```  I wish we had great command completion on zsh.

Labs: I'm not sure apps is the right place for labs.  I suspect we've had "non-app-things" in labs.  The same goes for feature

[2016-04-28 16:36] gudmundur commented on #259
Nice! 👍

My main concern with this change is discoverability of commands and the fluency of typing the extra characters. Would `heroku apps --help` would list out all of the subtopics and commands? On the fluency, my assumption is that those are commands that are not often used, thus likely to be looked up with `heroku help` anyways.

Slight side note on fork, DevEx is likely going to pick it up t

[2016-04-28 18:00] robanderton opened #266 "Node executable not found error on update"
I've been running the beta CLI for the last couple of days. I ran the CLI update command today and got an error:

[code]

`~/.heroku/error.log` doesn't contain any error information and the CLI itself appears to be working fine, so not sure if this is a bug or not, but figured I should report it!

Version info:

[code]

[2016-04-28 18:49] dickeyxxx commented on #259
@gudmundur would be great to have fork get some attention, as a CLI plugin it's just not able to work as well as users expect. Should also work in dashboard ideally. It was also the first CLI plugin written, before I had good node conventions, and it is also just really complex, so the code is definitely the worst in the new CLI.

@jonmountjoy that's the current output, not sample output, but yeah

[2016-04-28 18:50] dickeyxxx commented on #259
Oh and at least for now @gudmundur `heroku help apps` will list all subcommands individually

[2016-04-28 19:28] dickeyxxx commented on #265
It's actually relatively common in javascript to find properties that can accept different types and act differently according to them. Functions that act like promises or callbacks are a good example, so I think it's totally OK to do that here and a nice API.

I think you're also right that defaults and parsing aren't the same and what you're proposing would be a great, clear way to get both defa

[2016-04-28 19:29] dickeyxxx commented on #265
And yeah, probably in most cases these will be curried functions from `heroku-cli-util`.

[2016-04-28 19:43] dickeyxxx commented on #266
cc @uhoh-itsmaciek

I think this is an issue with native dependencies and kafka, here is the full output:

[code]

It seems to me that it's failing because you don't locally have node installed. I found fix this though by adding the Heroku node bin to the PATH.

[2016-04-28 19:44] dickeyxxx commented on #266
Not that it really matters too much, this isn't a beta problem, this would certainly have happened on stable too.

[2016-04-28 20:18] uhoh-itsmaciek commented on #266
@dickeyxxx hmm. What do you think we should do here? And the status is that if you have the plugin installed, you need to also have node and python installed?

[2016-04-28 20:22] dickeyxxx commented on #266
There is an easy solution for node, I just need to edit the PATH when I run the plugin install to have `~/.local/share/heroku/lib` because the node binary is there. I need to rename it though to just `node` and not `node-6.0.0`.

Python I believe is also required. We probably just need to do some more thorough testing on clean vms on exactly what's required to install heroku-kafka.

[2016-04-28 20:27] uhoh-itsmaciek commented on #266
Ok, great. I wonder if we can get rid of the Python dependency--I'll look into that.

[2016-04-28 21:01] uhoh-itsmaciek commented on #265
Nice. And yeah, you're right--autocomplete would need to be a separate thing.

[2016-04-28 21:33] uhoh-itsmaciek commented on #264
Is it all node packages with native dependencies? Or `snappy` specifically?

[2016-04-28 21:38] dickeyxxx commented on #264
probably anything that uses node-gyp

On Thu, Apr 28, 2016 at 2:33 PM Maciek Sakrejda <notifications@github.com>
wrote:

[2016-04-28 22:13] dickeyxxx commented on #265
In regards to your question about submitting a PR, I think it might be better if I took care of this since I want to make sure I get a solid comprehensive look at how these 3 related bits of functionality work. I think it could be a good part of a project for next quarter.

[2016-04-28 22:14] dickeyxxx commented on #265
Though if you are curious enough to want to look at it, definitely work off the beta branch (which currently is very, very far ahead of master)

[2016-04-29 18:44] dmcinnes opened #268 "Getting many password expire messages on a single command"
This message is coming from the API, probably on every request that the CLI is making.

[code]

I guess I should update my password 😀

I'm on the Beta:
[code]

[2016-04-29 18:56] dickeyxxx commented on #268
the CLI displays every API warning, I don't think there is anything I could reasonably do without looking to make sure I don't show duplicate warnings. Since this is internal-only, I don't think it's necesssary.

[2016-04-29 18:58] dmcinnes commented on #268
Yeah that's what I thought too, figured I'd bring it up anyhow!

[2016-04-29 19:11] dickeyxxx commented on #268
thanks for letting me know! It is definitely annoying on some commands.

[2016-05-02 17:10] uhoh-itsmaciek commented on #265
Ok, thanks. I might take a look but you've convinced me this is more involved than I thought, so I'll probably leave it.

[2016-05-03 16:40] #257 closed

[2016-05-03 17:32] jdx opened #271 "`heroku _`"
I spiked this out a few days ago, but I'm curious what people think. This is inspired be [thefuck](https://github.com/nvbn/thefuck) which already supports our CLI.

Today if a user mistyped a command (which is really common), they see this:

![screen shot 2016-05-03 at 10 27 54 am](https://cloud.githubusercontent.com/assets/216188/14992269/22f4846a-111a-11e6-897d-130100b59ff1.png)

Which is great

[2016-05-03 18:47] dickeyxxx commented on #123
that's a different thing, this had to do with the lines being truncated, but it's changed now too

[2016-05-03 20:12] #268 closed

[2016-05-03 20:13] dickeyxxx commented on #268
closing as it's only an issue for internal users

[2016-05-04 00:12] dickeyxxx commented on #263
this is done

[2016-05-04 00:12] #263 closed

[2016-05-04 00:13] dickeyxxx commented on #239
core plugins no longer have to install in the latest version

[2016-05-04 00:13] #239 closed

[2016-05-04 00:14] dickeyxxx commented on #194
this is fixed now

[2016-05-04 00:14] #194 closed

[2016-05-04 10:21] saumyasuhagiya opened #274 "Not able to start heroku cli behind proxy"
I am using [cntlm ](http://cntlm.sourceforge.net/) proxy setup for resolving proxy problems.

I had setup HTTP_PROXY and HTTPS_PROXY variables to http://localhost:3128 and https://localhost:3128 respectively and saved it into windows environment variables.

Still I am getting below error.

[Also tried `heroku run bundle` but getting same error]

[Error Image](http://s32.postimg.org/yqlz0vm79/error

[2016-05-04 11:07] friendyogi commented on #84
Got this error when using Mobaxterm:-
![image](https://cloud.githubusercontent.com/assets/9146416/15012481/7c84bf98-1216-11e6-9c06-37a407aaf750.png)

When can I expect the fix?

[2016-05-04 14:44] RocketPuppy opened #275 "V 5.1.4-ccc1af5 panic under NixOS"
I encountered an issue yesterday when the heroku cli automatically updated to the latest version. In my attempts to fix it I tried reinstalling from scratch.

I'm following the instructions for installing the heroku toolbelt as a standalone client (https://toolbelt.heroku.com/standalone). As soon as I run the heroku command it automatically tries to update to v5.1.4-cc1af5, and then promptly fails

[2016-05-04 19:31] ransombriggs commented on #271
@dickeyxxx do you have a branch for this handy, just curious about the implementation

[2016-05-04 21:06] dickeyxxx commented on #271
it's actually in the mainline, but because v5 does this it isn't called by ruby at all. You could test it by running `~/.heroku/heroku-cli _`

[2016-05-04 21:15] dickeyxxx commented on #275
there were some issues around pathing we fixed in https://github.com/heroku/cli/pull/277 just today. Mind trying again?

[2016-05-04 21:15] dickeyxxx commented on #275
You may need to delete `XDG_DATA_HOME/heroku` (or ~/.local/share/heroku)

[2016-05-05 00:10] RocketPuppy commented on #275
Thanks. It did download and install 5.1.5-b4610e8, but I'm still having the same issue. Any hints on debugging the output, or should I bring this to the NixOS project?

In any case, do you know how I can get a copy of the CLI for the version prior to 5.1.4? From there I should be able to manually disable the autoupdater in the ruby scripts so I can at least get back to work.

[2016-05-05 01:12] dickeyxxx commented on #275
Let me fire up a nixos vm and see what's going on here. There isn't going to be a way to use an old version, the ruby code cannot disable the autoupdater.

I realize this isn't ideal especially on platforms like nixos (if everyone used nixos there would be no need for an autoupdater), and at some point I plan to better support platforms like nixos that already have a package manager to manage upda

[2016-05-05 01:39] dickeyxxx commented on #275
I think I don't understand nixos. Why can't it execute this binary?
![screen shot 2016-05-04 at 6 39 06 pm](https://cloud.githubusercontent.com/assets/216188/15034153/809e4160-1227-11e6-8fbd-3c76a395c696.png)

[2016-05-05 13:06] brissenden commented on #129
:+1: from me too.

[2016-05-05 14:52] brissenden commented on #275
I have the same issue like @RocketPuppy described above.

[2016-05-05 15:07] RocketPuppy commented on #275
@dickeyxxx It might be a problem finding the ELF interpreter? This blog has some information about packaging debian packages that might be useful (and is how I got the previous information): http://anderspapitto.com/posts/2015-02-28-deb-installation-nixos.html. Now that I see your output it looks like this might be a problem with the heroku nixos package. I'm still confused why this happened so su

[2016-05-05 17:00] dickeyxxx commented on #275
It was a major version change from 4.x.x to 5.x.x, look at the readme. I think the problem is that the CLI was originally running ruby which ran the new CLI as a binary, but now it's running a binary that runs yet another binary. I might be able to skip that part of the process though.

[2016-05-05 17:54] dickeyxxx commented on #129
I have some updates, you may not like them, but I want to be open about this. Also, this turned into a novel, sorry about that.

The main reason you all want this is updates sometimes fail or introduce new bugs. We're in the process of rewriting the CLI. This has caused some bugs, but it's also fixed a lot of long standing issues we've had with the CLI for years (especially on windows). This proje

[2016-05-05 17:54] #129 closed

[2016-05-05 18:01] toots commented on #129
I have to say that I am disappointed by this. This, of course, your call to decide what you want to do with this software but if you believe that the solution is to never ship with bugs anymore then I believe that this is at the very least wishful thinking. If you look at other similar tools such as the `gcloud` SDK for instance, when an update is available, the software prompts for the suggested

[2016-05-05 18:02] dpetersen commented on #129
Certainly understand why you want autoupdates for the majority of users. Thanks for the explanation. I will probably switch to using the API for what I'm currently using the CLI for.

[2016-05-05 18:03] dickeyxxx commented on #129
We always recommend using the API directly for automated things. It's much less likely to change, the CLI is a human interface and will have some change (though we try to keep it very minimal)

[2016-05-05 18:05] dickeyxxx commented on #129
Also please do try the dev install instructions I just posted. If it doesn't work for you, let me know and I can fix whatever or add more docs around it.

[2016-05-05 20:37] mikehale commented on #129
What is to stop nix, homebrew, and other package managers from just using dev builds? A config option vs a dev build to disable auto updates seems a bit arbitrary.

[2016-05-05 20:53] dickeyxxx commented on #129
It's not trivial to build the CLI, and it's targeted to specific architectures. It'd be easier for them just to use the precompiled tarballs. Technically speaking though, they could, but I doubt they would spend the time to.

[2016-05-05 21:20] dickeyxxx commented on #275
These changes are in place, not sure how to test though. I think this needs to be updated to 3.42.2: https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/tools/heroku/default.nix

[2016-05-06 02:43] RocketPuppy commented on #275
Thanks for all your help @dickeyxxx. I appreciate that you're trying to support some more esoteric setups. I noticed your comment here: https://github.com/heroku/cli/issues/129#issuecomment-217228714, and I was able to set up a nix package definition for the heroku-cli so that it built successfully. It needs cleaned up a little, but I'd be happy to post it here or submit a PR with if you think oth

[2016-05-06 03:36] dickeyxxx commented on #275
great! let me know if there is anything else I can help with

[2016-05-06 03:36] #275 closed

[2016-05-06 07:19] brissenden commented on #275
@RocketPuppy Could you share nix package with us? It would be helpful.

[2016-05-06 15:30] dickeyxxx commented on #84
We've looked at this a few times and haven't found a way to actually make this work in git bash. It would probably involve some low level API calls. With windows bash (and given there is already an easy workaround) on the horizon, it's unlikely we'll put much effort into this. If anyone want to submit a PR I would happily review it though.

[2016-05-06 15:42] ransombriggs commented on #274
@saumyapatel The environment variables you set were the proper ones, I can see that they are getting picked up by the CLI in the error output.  Would it be possible for you to check the proxy logs to make sure the proxy is getting hit?  The url that it is requesting at that point is `https://cli-assets.heroku.com/master/manifest.json` which should hopefully help you track this down.

[2016-05-06 16:21] ransombriggs commented on #84
To expand upon what @dickeyxxx said, the underlying problem is that stdin in Git Bash is not actually a tty, and therefore the standard way of silencing it for reading a password does not work properly.  This command is written in Go, and we looked in vain for solutions to this previously, but if someone knows of a package that can accomplish this, that would also be helpful as well.

[2016-05-06 20:49] RocketPuppy commented on #275
@dickeyxxx I'm trying to clean up the package definition so it's more shareable. I've got it building the 5.1.6 release, but the resulting binary doesn't seem to accept any commands. It only seems to be showing the result of the apps subcommand. Have you seen anything like that before?

[2016-05-06 20:56] dickeyxxx commented on #275
I haven't, but if you run it with `HEROKU_DEBUG=1` it might show some better information

[2016-05-07 01:13] RocketPuppy commented on #275
@dickeyxxx That helped thank you. Turns out it was a problem with my derivation.

@brissenden Here are the derivations I set up to build the heroku cli:
[godeps.nix](https://gist.github.com/RocketPuppy/d0d1a8a5ebe3b7dedb1a68646dd4d344) containing all the go dependencies that didn't exist in the `go16Packages` attribute.
[heroku-cli.nix](https://gist.github.com/RocketPuppy/00461c40748ee70aaef458b36

[2016-05-10 17:21] tnoonan-salesforce opened #280 "Plugins link."
When I run plugins link my topic no longer appears in the output of heroku --help. Any ideas?

[2016-05-11 17:42] dickeyxxx commented on #280
it should, is it marked as hidden? Does it appear in `heroku commands`?

[2016-05-11 20:32] dskrad commented on #96
I am running latest raspbian wheezy on a raspberry pi model B. I did not experience the exact same problem, but I was pointed in your direction for help. Here is what I did...hopefully this helps.

Thank you for pointing me in the direction of nodejs not working properly. I went ahead and downloaded the ARMv6 LTS binary from node website (https://nodejs.org/dist/v4.4.4/node-v4.4.4-linux-armv6l.tar

[2016-05-11 20:35] dickeyxxx commented on #96
I recently changed it to use armv6l, but this hasn't been released yet. It should make this not a problem in the future: https://github.com/heroku/cli/commit/11dfbb667e922f91a25cf0ac67a01d399fcd3293

Gonna close since it seems like this is working, but if anyone is having pi issues, just comment and I'll reopen.

[2016-05-11 20:35] #96 closed

[2016-05-12 01:54] garbas commented on #275
@RocketPuppy tnx for the nix expressions. i've cleaned them up and pushed them to this [gist](https://gist.github.com/garbas/ea00be48545ad1560fe377bdd85dc297). i'll replace heroku in nixpkgs in next days.

[2016-05-13 19:44] monkbroc commented on #258
To me the super valuable thing you built is the self-contained node installer and package updater.

I'm using it currently to make a self-contained version of the Particle CLI https://www.particle.io. Currently that CLI has one main node package called particle-cli. The Go wrapper installs that package and forwards the command line arguments to the main script in particle-cli.

The Heroku use case

[2016-05-16 13:54] dotnetCarpenter opened #281 "naked `heroku` command crash on Windows 10"
If I write `heroku` without any arguments I usually get the help description. But with version 5.1.7 I get an exception.

[code]

Seems that I'm not the only one that gets this kind of error message (even though from a different command):
http://stackoverflow.com/questions/37123458/node-js-app-deploying-on-heroku-error

VERSION:
[code]

[2016-05-16 23:06] dickeyxxx commented on #258
Yes extracting out the Heroku-specific things is a design goal. I think it's interesting (and makes sense) that you really only used one npm package. I feel like the CLI could support that type of setup in a simpler way.

[2016-05-16 23:09] dickeyxxx commented on #281
I haven't been able to trace this issue, only a handful of users have
reported it. Can you email the zipped contents of %LOCALAPPDATA%\heroku to
me at jeff@heroku.com so I can take a closer look?
On Mon, May 16, 2016 at 6:54 AM Jon Ege Ronnenberg <notifications@github.com>
wrote:

[2016-05-17 02:00] chrisdziewa opened #282 "Error running any heroku commands"
I have used Heroku to host my applications for quite a while without any problems but today I tried running `heroku create` and ran into permission errors (not the standard credentials error). I removed heroku-cli and reinstalled. Now any command I run attempts to upgrade the cli and crashes with this error:

[code]

If anyone has any ideas, I would really appreciate it as I can't move forward unt

[2016-05-17 02:49] dickeyxxx commented on #282
you probably ran it as sudo or something. You need to fix the file permissions for `~/.cache/heroku/error.log`

[2016-05-17 03:32] chrisdziewa commented on #282
@dickeyxxx that is really strange, I never had to use sudo on the original and all of the sudden it wasn't working anymore. I did `sudo chown` and fixed about 3 file permissions and now it seems to be working again. Thanks for the help!

[2016-05-17 03:32] #282 closed

[2016-05-17 04:18] monkbroc commented on #258
Great. I'll work on extracting the package installer logic and share back with you what I'll make.

[2016-05-17 16:50] dickeyxxx commented on #282
I don't know why the permissions weren't set right, but running as sudo would've caused this which is why I suggested it.

#283 will fix this, but there are a lot of paths to get right.

[2016-05-18 22:55] tnoonan-salesforce commented on #280
Not marked as hidden and it does show up in heroku commands. Just not in heroku --help.

[2016-05-19 10:51] bestori opened #285 "Feature request: show % progress in cli upon heroku pg:copy command issues"

[2016-05-19 15:55] dickeyxxx commented on #285
@heroku/dod-ux

[2016-05-19 16:11] uhoh-itsmaciek commented on #285
This is tricky because the underlying `pg_dump` and `pg_restore` don't give us an indication of percentile progress. We'd have to guesstimate based on number of tables processed (and ideally their sizes), but then there's still index rebuilds, which don't really transfer any data but can take a long time. Still, it's a reasonable UX expectation, and we should probably do something there.

[2016-05-19 16:21] dickeyxxx commented on #285
Down to help any way I can

[2016-05-19 16:25] idan commented on #285
does it have to be a straight percentage bar?

Can we display a multiline thing like:

[code]

[2016-05-19 16:30] uhoh-itsmaciek commented on #285
@idan that's a great idea--it's not as straightforward, and there are a hundred other database objects we'd need to do to handle to do this "properly", but I think if we handle tables and indexes, that should cover the vast majority of use cases.

[2016-05-19 16:33] dickeyxxx commented on #280
can you show me an example?

[2016-05-19 17:09] tnoonan-salesforce commented on #280
I’m fine with the way you guys have it. My mind was just looking for
something like this.

exports.topic = {
    name: 'appcloud',
    description :
messages(locale).getMessage('herokuAppcloudTopicDescription'),
    topic: {
        name: 'foo',
        description: '',
        topic: {
            name: 'bar',
            description: ''
        }
    }
};

exports.commands = [
    {
        topi

[2016-05-19 22:49] tnoonan-salesforce commented on #280
Yes

index.js (something like)

exports.topic = {
    name: 'foo',
    description : '')
};

exports.commands = [{topic: 'foo', command: 'bar', ..., run: function() {}}]

[2016-05-19 23:03] dickeyxxx commented on #281
I've got a PR ready that should resolve this. In the meantime, if you delete `%LOCALAPPDATA%\heroku` it should work.

[2016-05-19 23:20] dickeyxxx commented on #280
oh looks like this is definitely a bug, I just didn't see it before

[2016-05-19 23:22] dickeyxxx commented on #280
this is fixed in https://github.com/heroku/cli/commit/967f97c5149c5af922c1b8f36c92f7a8c4299227, should go out with the next release

[2016-05-19 23:37] dotnetCarpenter commented on #281
thanks - that helped :+1:

On Fri, May 20, 2016 at 1:27 AM, Jeff Dickey <notifications@github.com>
wrote:

[2016-05-19 23:40] tnoonan-salesforce commented on #280
Glad I could help!

On Thu, May 19, 2016 at 5:38 PM, Jeff Dickey <notifications@github.com>
wrote:

[2016-05-19 23:40] tnoonan-salesforce commented on #280
Thank you!

On Thu, May 19, 2016 at 5:40 PM, Jeff Dickey <notifications@github.com>
wrote:

[2016-05-20 05:29] #280 closed

[2016-05-20 15:24] #281 closed

[2016-05-23 17:40] idan commented on #285
@dickeyxxx is what I proposed above feasible?

[2016-05-23 17:43] uhoh-itsmaciek commented on #285
I think we'd need to provide more metadata from transfers--right now, the CLI does not know how many tables or indexes to expect.

[2016-05-23 19:51] bestori commented on #285
Can metadata be read and sent over in headers? i.e. 30 tables, 10 indexes etc...

[2016-05-23 19:51] bestori commented on #285
Can this be done?

[2016-05-25 19:43] idan commented on #285
/cc @heroku/dod-ux

[2016-05-25 19:49] uhoh-itsmaciek commented on #285
I think it's technically feasible, yeah. It's not trivial so we'd have to prioritize and schedule that work.

[2016-05-25 19:51] idan commented on #285
Yeah mentioned so we have it on our radar for posterity

[2016-05-26 13:39] tnoonan-salesforce opened #289 "SyntaxError: Unexpected token ▸ in JSON at position 1"
So we are providing a —json option to indicate that the command should produce json formatted output.

I cannot parse an error object from the stderr stream because the text is decorated with a disclosure arrow.

I like the arrow for human readable output but it doesn’t work in machine readable cases.

Is there a way to disable that when I’m using —json?

[2016-05-26 14:25] ransombriggs commented on #289
@dickeyxxx would know better how hard this would be, but he is out on vacation right now.  I think it would not be super easy the way things are structured right now because the json flag is not a global flag, so the error code does not know it is in json context.  It does sound like a good idea though, and will talk to @dickeyxxx about it when he gets back.

[2016-05-26 14:32] ransombriggs commented on #289
It would be pretty easy though to not print the disclosure array if it is not on a tty though, will have to see what @dickeyxxx thinks.

[2016-05-26 15:59] dickeyxxx commented on #289
The error should be displayed in the way it is now I think. It's on stderr
so it won't be parsed.
On Thu, May 26, 2016 at 7:32 AM Ransom Briggs <notifications@github.com>
wrote:

[2016-06-07 21:09] uhoh-itsmaciek opened #294 "2fa entry doesn't work in dumb terminals"
Running the CLI from within emacs' `M-x shell` can be really useful, especially for running a Ruby console to do operations work. However, it looks like this doesn't work anymore due to changes in 2fa handling. This is probably because `M-x shell` is a pretty basic terminal (it exports `TERM=dumb`) and doesn't properly process a lot of escape sequences.

The main issue I've found is that 2fa input

[2016-06-08 21:05] tnoonan-salesforce commented on #289
Are you saying I should not write my json error object to stderr but rather to stdout and rely on the consumer to look at the exit code to determine if the output is a failed operation or not?

[2016-06-08 23:35] dickeyxxx commented on #289
yeah I think so, does that work for you?

[2016-06-09 20:03] iancampelo commented on #84
@dickeyxxx Yeah, will be awesome to have this feature! ;)

[2016-06-14 17:25] tnoonan-salesforce commented on #289
It does work but it seems odd to recommend supporting a --json option only then to have a third party modify the produced JSON to make it invalid.

One solution might be to provide a way in the api to turn off the console decorations.

[2016-06-21 20:45] dickeyxxx commented on #259
@raulb @naaman how do you feel about instead of moving `heroku access` to `heroku apps:access` we instead use `heroku apps:members` to match `heroku orgs:members`?

[2016-06-21 20:51] naaman commented on #259
@dickeyxxx `orgs:members` doesn't really map to an app. A member of an org is an org-level concern. Whereas you manage a member or collaborator's access to apps at the app level. Because access can be managed for two kinds of things, member and collaborator, the more generic `app:access` still makes sense to me.

[2016-06-21 21:12] dickeyxxx commented on #265
chatting with @slant a bit about "flags 2.0". I realized one compelling reason for the options function (aside from autocomplete) is that it could help me show better error messages. Such as:

[code]

Cleaned up a bit, but in general the plugin author wouldn't have to write this error handling code. It could be done generally so long as the options function returned a promise that resolved to an a

[2016-06-21 22:27] raulb commented on #259
+1

[2016-06-22 00:10] uhoh-itsmaciek commented on #265
Nice, that's a great point.

[2016-06-22 20:58] dickeyxxx commented on #294
@uhoh-itsmaciek will #296 fix this you think?

[2016-06-22 21:57] uhoh-itsmaciek commented on #294
@dickeyxxx does that handle the spinner too? I think the spinner is more of an issue than the colors...

[2016-06-23 00:16] uhoh-itsmaciek commented on #294
Tried to test it out, but I think the local dev instructions are incomplete: I got errors about missing Go packages and I don't want to spend time figuring out how to fix that right now.

[2016-06-23 16:16] dickeyxxx commented on #294
make sure you have go 1.6+, also make sure it's put into the right location or it won't work. It should be `$GOHOME/src/github.com/heroku/cli`

[2016-06-23 16:17] dickeyxxx commented on #294
and I didn't look closely enough to see the spinner was also a problem here... that will have to be a separate PR to `heroku-cli-util`.

[2016-06-23 16:20] dickeyxxx commented on #294
https://github.com/heroku/heroku-cli-util/pull/68

[2016-06-24 16:48] uhoh-itsmaciek commented on #294
Disabling the spinner prevents the stream of escape characters, but 2fa entry still doesn't work for me in M-x shell--same behavior as above.

[2016-06-24 16:50] dickeyxxx commented on #294
ohh... I should try to get emacs setup myself so I can test this

[2016-06-24 16:51] uhoh-itsmaciek commented on #294
Pretty sure there's a homebrew thing. And then just `M-x shell` and run `heroku preauth` on any app.

[2016-06-24 16:53] dickeyxxx commented on #294
I might have to disable the masking and treat the input as if it was not a tty

[2016-06-28 20:25] dickeyxxx commented on #289
I think I understand, you're outputting an error in json format, not the success. Typically we never do that in the CLI, we always show human readable errors, not json errors.

It's always possible I might show a warning for something, like the CLI being out of date or something not configured right. So you can never guarantee that stderr will be clean.

I think the right thing to do here would be

[2016-06-29 15:59] kurleysams commented on #84
**On windows**, click the **start** icon and in the search type **heroku**. The first result should be heroku command prompt , just click **Run command** - this command prompt will allow you to log in by typing your username and password without the error messages.

[2016-07-02 00:02] jkutner opened #298 "Java commands on Windows don't work"
On Windows this `Procfile`:

[code]

Runs as though just the `java` command were run by itself. But if you run the java command in the `Procfile` directly, it works. I suspect the `;` is being parsed incorrectly?

The [Heroku Java Getting Started](https://github.com/heroku/java-getting-started/blob/master/Procfile.windows) app exhibits this problem. I haven't been able to find work around.

[2016-07-02 07:56] lulzimfazlija commented on #281
I am still having this issue, how did %LOCALAPPDATA%\heroku resolves the problem?

[2016-07-02 07:56] lulzimfazlija commented on #281
@dickeyxxx @dotnetCarpenter any suggestion on this?

[2016-07-05 14:29] ransombriggs commented on #281
@lulzimfazlija There was an issue during the automatic upgrade process and deleting `%LOCALAPPDATA%\heroku` should get things back to a clean slate and bring down the latest version of the code which should work around the bug you encountered.

[2016-07-11 23:05] msakrejda opened #299 "Feature request: apropos command to search commands by description"
C.f.  Unix [apropos](http://www.dsm.fordham.edu/cgi-bin/man-cgi.pl?topic=apropos)

[code]

This could make it much easier to find rarely-used commands based on their description.

[2016-07-13 10:07] jfloff commented on #190
I'm having a similar issue, but I've tracked it down to the add-ons I'm choosing. I can deploy with only `heroku-postgresql` but as soon as I add some of my other addons (logentries, newrelic, rollbar, scheduler, sendgrid) it returns a 422.

Here's the log with `HEROKU_DEBUG=1`:

[code]

[2016-07-13 17:02] Black-X opened #301 "I can't run Heroku (File exists ....)"
$ heroku login
heroku-cli: Installing CLI... 16.91MB/16.91MB !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       File exists @ dir_s_mkdir - C:\Users\Raymond\AppData\Local/heroku/cli/lib/npm/node_modules/readdir-scoped-modules/test/fixtures/b (Errno::EEXIST)
    Command:     her

[2016-07-13 20:22] ransombriggs commented on #301
@Black-X Could you please delete `C:\Users\Raymond\AppData\Local\heroku` and try again?

[2016-07-14 15:06] Black-X commented on #301
Thanks it works.

[2016-07-14 15:06] #301 closed

[2016-07-14 15:07] Black-X opened #302 "I can't generate my ssh public key"
Could not find an existing SSH key at ~/.ssh/id_rsa.pub
? Would you like to generate a new one? Yes
events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: spawn ssh-keygen ENOENT
    at exports._errnoException (util.js:1007:11)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:182:32)
    at onErrorNT (internal/child_process.js:348:16)
    at _combinedTickCall

[2016-07-14 15:08] Black-X commented on #302
My .ssh folder contains github_rsa and github_rsa.pub

[2016-07-19 19:56] dickeyxxx commented on #302
You need `ssh-keygen` in your path.

[2016-07-19 20:01] dickeyxxx commented on #190
@jfloff can you post this to the container-tools-registry repo instead? A different team manages that project.

[2016-07-19 21:22] dickeyxxx commented on #298
It's the backslashes I think. They need to be escaped.

[2016-07-21 09:46] jfloff commented on #190
Done. Thank you.

[2016-07-22 15:43] jdxcode opened #303 "plugins:install fails with invalid symlink"
If a plugin is symlinked and the project is deleted leaving a bad symlink, trying to install a new plugin will fail.

[code]

[2016-07-25 20:17] dickeyxxx opened #305 "plugins:link without npm install"
A common issue for plugin developers if forgetting to run `npm install` before symlinking a plugin. Potentially as part of the `plugins:link` logic we could automatically run `npm install`. This would make `plugins:link` much slower, but now that the CLI automatically refreshes plugins without needing to relink it might be OK.

[2016-07-26 17:08] starrychloe commented on #84
But I'm already logged in through Windows CMD.EXE!

[code]

[code]

Why not just turn off echo?

http://stackoverflow.com/questions/2338889/how-to-hide-password-input-from-terminal-in-ruby-script
http://www.caliban.org/ruby/ruby-password/classes/Password.html

[2016-07-27 08:55] Black-X commented on #302
Thanks and sorry for late reply.

[2016-07-27 08:55] #302 closed

[2016-07-29 19:50] uhoh-itsmaciek opened #307 "apps:info with app argument (rather than app flag) fails on paranoid apps"
This is minor, but thought I'd log it anyway: It looks like `apps:info` appears to accept an argument as the app, in addition to supporting the `--app` flag:

[code]

However, this fails in an odd way with paranoid apps:

[code]

Running preauth works around this:

[code]

[2016-07-29 19:56] uhoh-itsmaciek opened #308 "join command hangs on non-existent apps"
[code]

At this point the CLI hangs until I Ctrl+C.

[2016-07-29 22:20] dickeyxxx commented on #308
this commit will fix this https://github.com/heroku/node-heroku-client/commit/f56a1835705b173f8df057907789e2d6e0fa1ce5

[2016-07-29 23:30] dickeyxxx opened #309 "dist-tag for plugin channels"
This could allow us to have multiple channels for plugins: https://docs.npmjs.com/cli/dist-tag

[2016-08-02 19:30] ummahusla commented on #84
[code]

Alright, at least it's a well-know issue.

[2016-08-03 23:10] dickeyxxx commented on #147
update: I've got an experimental new parser that handles this. It works with every way to add flags I can think of:

[code]

Am I missing anything?

[2016-08-03 23:43] uhoh-itsmaciek commented on #147
`info -saappname`? :scream: Honestly 1 and 3 seem kinda out there (do other tools support usage like that?) but if I get 2 and 4 out of it, I'm happy.

[2016-08-03 23:46] jkakar commented on #147
The only ones I'd expect to be valid are:

[code]

The other ones seem weird to me too (and I wonder what kind of weird bugs are hiding there because of the overlap between short option letters and initial characters in option values).

[2016-08-03 23:52] dickeyxxx commented on #147
I actually use the no space thing quite a bit. It works with git:

[code]

And lots of people use this with tar:

[code]

[2016-08-09 14:27] anshap1719 opened #312 "Problem with toolbelt"
After installing toolbelt on my windows 10 PC, when I tried running heroku commands, it showed me installing CLI and is stuck there forever even though I have a very fast internt connection, it never proceeds after downloading 0.32/18.25MB.

[2016-08-09 18:33] dickeyxxx commented on #312
you could try the new CLI https://cli-assets.heroku.com/branches/stable/heroku-windows-amd64.exe

[2016-08-09 20:47] dickeyxxx opened #313 "heroku login --until/--for"
allow setting a time/duration for login tokens to be valid

[2016-08-13 21:23] uhoh-itsmaciek opened #315 "Feature request: skip plugins that can't be loaded"
If I'm in the middle of working on a linked plugin, syntax errors or other issues can prevent me from running totally unrelated commands since all plugins must be loaded at cli startup regardless of whether they're actually used. Would it be possible to skip invalid plugins with a warning, instead of having them block startup?

[2016-08-16 16:24] uhoh-itsmaciek commented on #259
I take it you meant `user:labs:enable`?

[2016-08-16 19:34] dickeyxxx commented on #259
@uhoh-itsmaciek we decided not to go ahead with that one at shinzo. We're going to keep labs and features as-is.

[2016-08-17 17:38] pconrad commented on #129
So, our problem with the auto-update is that I'm in an academic computing environment, and the students not only have disk quotas, but they have "number of files" quotas as well.

The auto-update to the CLI exceeds their "number of files quota" (which is 4000) before they can even complete their first heroku assignment.

We NEED a way to install a version of the CLI in one place, and then have all

[2016-08-18 23:00] j-burgos commented on #84
Since my windows user home folder and my cygwin home folder are different, what I did was to `heroku login` using `cmd.exe` and then copying `C:/Users/MyUser/_netrc` to my cygwin home

[2016-08-23 19:18] mathias opened #317 "Add alias `plugins:unlink` to `plugins:uninstall`"
For symmetry with the `plugins:link` command.

I'd be willing to tackle this if it sounds like a good idea. Let me know.

[2016-08-23 19:38] dickeyxxx commented on #317
:+1: but maybe just make it hidden?

[2016-08-25 22:57] mathias commented on #317
Yeah, definitely will make it hidden.

[2016-08-31 04:50] elopio opened #319 ""dashboard is not a heroku command" when running the command without arguments"
I'm testing the heroku cli from master in Ubuntu Xenial. When I run the heroku command with no arguments, I'm getting:

[code]

The reference to dashboard is wrong. Maybe the help command should be the default.

I can reproduce it also with:

[code]

[2016-08-31 05:07] elopio opened #320 "make install is hardcoded to /usr/local"
I have no way to run make install to a user directory. It is hardcoded to /usr/local, which needs root permissions.

Many Makefiles use the DESTDIR variable to allow users to install to a different location.

[2016-09-01 15:22] hannesfostie opened #321 "`heroku drains` displays drain info, then asks 2FA, then repeats output"
As requested on Slack, creating an issue to report the behavior I saw this morning.

Output as follows:

[code]

Ransom mentioned that you re-execute the command upon asking for 2FA which may cause this behavior.

[2016-09-01 18:53] dickeyxxx commented on #321
I already have a fix for this. @ransombriggs can you take a look? https://github.com/heroku/heroku-apps/pull/115

[2016-09-02 22:14] will opened #322 "bring back the more powerful -c"
Before `-c` was also `-a`, but now it isn't.

[code]

[2016-09-11 13:02] djui opened #324 "Copy'n'Paste bug in toolbelt drains:remove"
Not related to this cli but I couldn't find the actual toolbelt repo:

[code]

[2016-09-13 18:58] luckymike commented on #129
This thread is extremely disappointing. A flag to disable auto-update seems fairly trivial and would give folks a path forward where auto-updates are a problem. Assuming use-cases and explaining away legitimate user requests seems like a very short-sighted approach, and is frankly rude.

[2016-09-14 00:26] pconrad commented on #129
So compiling from source wasn't an option for me in the tightly academic computing environment in which we found ourselves.   I just did a jury-rig nasty hack, namely wrapping the heroku command line tool with a wrapper that, if the user was not the instructor,  created a symbolic link from the users ~/.share/heroku to the instructor account ~/. share/heroku.    It was not, and is not, a good long

[2016-09-14 00:31] edmorley commented on #129
`https://dashboard.heroku.com/apps/<APP_NAME>` -> "More" menu (top right) -> "View logs"

Links to a page of form:
`https://dashboard.heroku.com/apps/<APP_NAME>/logs`

[2016-09-14 04:39] pconrad commented on #129
@edmorley ... Thanks!       That is super helpful.   If i can figure out a way to have my students do everything they need to do without the heroku command line tool, so much the better.

Make no mistake... I WOULD PREFER to use the command line tool.   But, the auto-updating to each of 85 students home directories in an academic computing environment, and the fact that there is no "nice" way to s

[2016-09-14 14:42] dickeyxxx commented on #129
The new CLI install won't require root. It's needed now on standalone because some systems don't have user access to /use/local. The new CLI won't use a bash script piped to sh. It'll just be a few commands to execute.

With the automatic updating. I'm currently working on a new iteration of the CLI that will be pure-node instead of half go and half node like now. I'm still working on how the upda

[2016-09-16 17:25] dickeyxxx commented on #322
I did not know this. Definitely seems useful!

[2016-09-20 20:05] zunda opened #328 "Creating a non-private add-on on a Private app requires --confirm flag"
It seems not obvious that we need to add `--confirm` flag when creating a non-private Heroku Postgres to an app in Private Spaces. It might worth while describing it in the error message:

[code]

While the command works with the flag:

[code]

[2016-09-20 21:48] dickeyxxx commented on #328
@heroku/ecosystem is there any way to fix this?

[2016-09-20 22:43] mnoble commented on #328
We might have to do something, sort of ugly, like matching on the error message coming back from API, then displaying the appropriate message right from the command.

There's no good general way to return that sort of message from API – it has to be a pretty general message since we have no guarantees about where the request is coming from.

[2016-09-22 03:49] ransombriggs opened #333 "Panic in heroku update"
[code]

[2016-09-23 00:31] dickeyxxx commented on #333
I wonder if it was this https://github.com/ulikunitz/xz/issues/7

[2016-09-23 03:49] brettgoulder commented on #333
The output showed that it was downloading the update but then it broke like this halfway through downloading.  The second time it worked however.  Not really sure what the issue is.

[2016-09-23 14:25] ransombriggs commented on #333
@dickeyxxx The fix went out in 0.4.1, which we are already on

[2016-09-23 16:19] dickeyxxx commented on #328
https://github.com/heroku/heroku-cli-addons/pull/47

[2016-09-23 16:19] #328 closed

[2016-09-23 16:20] dickeyxxx commented on #328
I really don't like this arbitrary flag thing. I've mentioned it many times without providing a good alternative, but this is just one more place where it's causing a headache.

[2016-09-23 21:33] dickeyxxx commented on #333
https://github.com/heroku/cli/pull/335

[2016-09-30 14:51] ransombriggs commented on #333
@brettgoulder this was fixed by bumping to golang 1.7 because 1.6 has issues with mac os x sierra

[2016-09-30 14:51] #333 closed

[2016-09-30 17:01] guw opened #339 "Programmatic way to query for available commands"
It would be great if there is a way to query heroku cli for a list of available commands (eg., all starting with a specific prefix) and have the result available as a JSON object to parse.

Something like:
`heroku help <prefix> --json`

Additional information that should be provided as part of the JSON object:

- command
- short description
- long description
- parameters
  - mandatory/optional

[2016-09-30 17:03] guw commented on #339
@dickeyxxx Please have a look if this sounds reasonable. We would like to contribute this functionality. Also, if you have some ideas/pointers for an efficient implementation I'd be very happy to hear them.

[2016-09-30 17:07] dickeyxxx commented on #339
we already have this, run `heroku commands --json`

[2016-09-30 17:10] guw commented on #339
Perfect. I'll have a look at the structure.

[2016-09-30 17:10] #339 closed

[2016-10-03 21:43] #259 closed

[2016-10-03 21:43] dickeyxxx commented on #259
this is actually done now

[2016-10-06 17:43] victorazevedo commented on #84
Use CMD in windows

[2016-10-12 00:59] alinstanescu opened #341 "Hi, I am getting this error after deploying an app to heroku. Can anyone help? Thank you."
2016-10-12T00:53:09.892801+00:00 heroku[web.1]: Process exited with status 1
2016-10-12T00:55:03.434500+00:00 heroku[web.1]: State changed from crashed to starting
2016-10-12T00:55:06.232788+00:00 heroku[web.1]: Starting process with command `node wit.js`
2016-10-12T00:55:08.523710+00:00 app[web.1]: > string_decoder.js:71
2016-10-12T00:55:08.523724+00:00 app[web.1]:   if (buf.length === 0)
2016-10

[2016-10-12 01:25] dickeyxxx commented on #341
This project is for the Heroku CLI only. Please submit a [support ticket](https://help.heroku.com/) for help with your application.

[2016-10-12 01:25] #341 closed

[2016-10-12 23:34] alinstanescu opened #342 "Hi I am having a big problem with my node js app"
I am getting these errors in my log file.

2016-10-12T23:25:24.661561+00:00 app[web.1]:     at Interface.write (readline.js:334:49)
2016-10-12T23:25:24.661562+00:00 app[web.1]:     at prompt (/app/node_modules/node-wit/lib/interactive.js:18:8)
2016-10-12T23:25:24.661562+00:00 app[web.1]:     at module.exports (/app/node_modules/node-wit/lib/interactive.js:20:3)
2016-10-12T23:25:24.661563+00:00 app

[2016-10-12 23:45] ransombriggs commented on #342
@alinstanescu this is for CLI support only, please file a ticket at https://support.heroku.com

[2016-10-13 08:06] jonmountjoy commented on #324
I'm reopening this - just got a pin on our docs to say it's broken, and it's still broken for me, even though this issue was closed a month ago.

I've just done an update and am on

[code]

[2016-10-15 06:48] Oluwasetemi opened #343 "node.exe is not a valid Win32 application"
![screenclip](https://cloud.githubusercontent.com/assets/10030028/19408034/3d5086e8-92ab-11e6-9b9c-ecab010c801a.png)

[2016-10-17 14:19] ransombriggs commented on #343
@Oluwasetemi what version of Windows are you on?

[2016-10-17 14:30] Oluwasetemi commented on #343
@ransombriggs Windows 8.0

[2016-10-17 14:46] ransombriggs commented on #324
@jonmountjoy This was merged to master but never deployed, I deployed it on the 14th, so it should be fixed now.

[2016-10-17 14:46] #324 closed

[2016-10-18 14:35] ransombriggs commented on #343
@Oluwasetemi I was not able to reproduce using my virtualmachine then I noticed that it appears that you are out of disk space.  See the "Not enough storage is available to process this command" message.  So my guess is the download got clipped, which should have been an error and something that we should clean up better after.  If you could delete `C:\Users\steven\AppData\Local\heroku` then free

[2016-10-18 14:38] Oluwasetemi commented on #343
@ransombriggs I am on it! I'm new to Heroku.

[2016-10-18 18:30] Oluwasetemi commented on #343
![Image](https://i.gyazo.com/d3cbc1040ab31e6c0bc496846499761d.png)

[2016-10-18 21:01] ransombriggs commented on #343
@Oluwasetemi I did a release earlier today around the time you commented and it may have caused this error, could you please try again by running `heroku update`?  I am sorry this has not been a good experience for you thus far.

[2016-10-19 05:21] t-pankajkumar opened #344 "Unable to use heroku cli after update"
Im onWindows 10 , here is the log.

[code]

[2016-10-19 14:14] ransombriggs commented on #344
@t-pankajkumar it appears to be failing when we try and create a `.config` directory in your home directory.  The home directory is considered to be `%HOME%` if defined, and `%USERPROFILE%` otherwise.  Could you check if one of these variables is set to `C:\Program Files (x86)\Git\usr\bin\` using the `set` command?

[2016-10-20 05:59] Oluwasetemi commented on #343
@ransombriggs I think it worked, here is the screenshot.
![After Update](https://i.gyazo.com/fe3cf22361956a9460097747740d9980.png)

I tried this `heroku create`

![Create App](https://i.gyazo.com/a6427b8aa763db915846f31daf8b428d.png)

[2016-10-20 14:09] ransombriggs commented on #343
@Oluwasetemi awesome, it looks good now.

[2016-10-20 14:09] #343 closed

[2016-11-01 14:48] ransombriggs commented on #324
Was cleaning out my inbox, and realized I forgot to respond.  After you
mentioned this I checked and we had merged but not released the fix, so I
went ahead and shipped the fix, so this should be good now.

- Ransom

On Thu, Oct 13, 2016 at 3:06 AM, Jon Mountjoy <notifications@github.com>
wrote:

[2016-11-02 23:08] tnoonan-salesforce opened #346 "Missing argument value gives a confusing error."
So we have a cli plugin command that has a password flag.
If I omit the value of the flag I receive an error that's a bit confusing.

Steps to Repro:
1) Omit the password in the create command as such:
Tool belt command heroku force:org:create --password --type workspace

Error: Unexpected argument workspace
Usage: heroku force:org:create
You gave this command too many arguments. Try the command a

[2016-11-02 23:40] chris-hawley commented on #312
Since this problem seems to be related to my own, I am adding to this ticket. My installation hangs at
`heroku-cli: Installing CLI... 17.56MB/17.56MB`

Any thoughts?

[2016-11-03 03:17] anshap1719 commented on #312
I had same problem with windows. I switched to linux because I was unable to find a solution :(

[2016-11-03 14:18] ransombriggs commented on #312
@chris-hawley it appears to have downloaded successfully downloaded completely and is stuck in the extraction step, could you try again?

[2016-11-03 17:48] dickeyxxx commented on #346
I'm not sure how the CLI could know how to handle this differently. "--type" could be a valid value

[2016-11-03 21:02] tnoonan-salesforce commented on #346
I would say that if a value matches a parameter name long or short with the correct hyphen's and there is an unexpected argument that could be the indicator to report a different error message.

[2016-11-03 22:28] dickeyxxx commented on #346
ah good idea

[2016-11-05 02:29] chris-hawley commented on #312
I tried many times with no change in result.

[2016-11-05 16:58] ransombriggs commented on #312
@chris-hawley are you running any anti-virus software?

[2016-11-05 18:07] chris-hawley commented on #312
The only antivirus I have is windows defender and a Trend Micro virus scan. I think the virus scan does work in realtime but I haven't had any problems with it before.

[2016-11-16 15:58] thody opened #349 "Merge conflict on `heroku plugins:update`"
[code]

[2016-11-16 17:40] dickeyxxx commented on #349
this is because you made changes to the plugin

[2016-11-16 17:46] thody commented on #349
Understandable why you might think that, but I've never touched it.

[2016-11-17 18:35] #315 closed

[2016-12-01 03:32] connor11528 opened #350 "Implementing forgot password for cli"
Is it possible to build a 'forgot password' functionality into the cli when running `heroku login`? Thank you

[2016-12-01 03:33] connor11528 commented on #350
I mean, nvm the dashboard is pretty rad! https://dashboard.heroku.com/account

[2016-12-01 03:33] #350 closed

[2016-12-04 13:13] hell0world commented on #84
switching to ms cmd shell by typing cmd in cygwin terminal, and then back to bash sh by typing sh

[2016-12-08 22:45] apg opened #354 "sharing:transfer command is deprecated, but reports error anyway"
[code]

I'd expect `sharing:transfer` to tell me that this command was deprecated instead of complaining that I invoked it wrong. I'd also love an alias simply to `transfer`, which as shown isn't setup.

[2016-12-09 20:52] liviuavram commented on #312
This one worked for me.

[2016-12-11 23:00] MsUzoAgu opened #355 "unable to run any heroku commands. getting segmentation fault error"
Hello, downloaded and installed `heroku-toolbelt.pkg` on mac OSX el capitan. Yet when I attempt to run any of the heroku commands, I get the following error:

[code]

Not really sure what is going on. Different answers on stackoverflow requiring the use of `sudo` command or installing via `homebrew`. Would like to understand the why I am getting this error before using sudo or resorting to `homebr

[2016-12-12 03:12] ransombriggs commented on #355
@MsUzoAgu could you please download again and install?  I was able to replicate your issue and reverted the installer to the previous version so that other people do not encounter this issue as well.

[2016-12-12 14:28] MsUzoAgu commented on #355
@ransombriggs thank you for the response. Will do as requested and report back!

[2016-12-12 14:44] MsUzoAgu commented on #355
@ransombriggs the revert to v5.5.8 worked! Thanks.

Care to give a brief explanation for initial failure?  Not necessary but curious.

[2016-12-12 14:44] #355 closed

[2016-12-13 16:42] adamrainsby opened #357 "Port passed to pg:pull is ignored"
Since Friday whenever I run

[code]

I get

[code]

I have postgres running on port 5433 not 5432 so obviously the connection is refused.

[2016-12-13 20:04] ransombriggs commented on #357
@adamrainsby closing as duplicate

[2016-12-13 20:04] #357 closed

[2016-12-14 21:21] ransombriggs opened #359 "heroku must be installed for `make` to work on linux"

[2016-12-14 21:21] ransombriggs commented on #359
actually this is something else, have to look into further, closing for now

[2016-12-14 21:21] #359 closed

[2016-12-14 22:08] ransombriggs commented on #359
@dickeyxxx this ended up being an ubuntu 16.x incompatibility, it worked in 14.x

[2016-12-15 21:48] jeffbr13 opened #361 "Cannot read property 'pop' of undefined"
Running  `heroku pg:copy DATABASE_URL HEROKU_POSTGRESQL_…_URL` to upgrade a database results in the following error after initiating the copy (which seemed to start successfully):

[code]

Running with `HEROKU_DEBUG=1` I get the following output (responses and private fields truncated):

[code]

I've tried re-installing and running`heroku update`,  even with deleting `~/.heroku` and re-authenticat

[2016-12-15 23:43] ransombriggs commented on #361
@jeffbr13 (on phone) I shipped an update to the CLI to fix this, could you 'heroku update' and try again? (The backup from before was scheduled, the bug was in the polling for status updates)

[2016-12-15 23:51] jeffbr13 commented on #361
Excellent, works now, thank you!

[2016-12-15 23:51] #361 closed

[2016-12-16 10:58] EricMcRay opened #362 "invalid process_type provided"
heroku apps:errors returns below error if i have multiple process type like web, cron, worker.

`
 ▸    invalid process_type provided (valid examples: web, worker, etc);
`

[2016-12-16 18:33] edmorley opened #363 ""Metrics: ... undefined" in all apps overview"
[code]

On the `Metrics` lines I'm presuming the `undefined` is meant to be some other metric eg memory usage.

[2016-12-18 03:11] diwu1989 commented on #346
I'm also seeing weird errors like
[code]

[2016-12-20 20:00] jtcmedia opened #365 "Set the File version property for Windows installer .exes"
I am the chocolatey maintainer of heroku cli and it would be nice if the cli version was embedded in the installer using this property like it was in the toolbelt. That way, I know when the installer has been updated/changed w/o downloading and comparing new/old checksums.

[2016-12-20 22:27] Sweetman opened #366 "Git 64-bit installer is bundled with new CLI 32-bit installer"
I used the Windows 32 bit installer following the [blog post](https://blog.heroku.com/the-new-heroku-cli) about the new CLI and tried installing it on my Windows 7 32-bit VM.

Aborts Git 2.8.1 Setup with the error:
"The 64-bit version of Git requires a 64-bit Windows. Aborting."

[2016-12-21 12:03] dickeyxxx commented on #346
@diwu1989 update your CLI

[2016-12-23 13:00] mariusa opened #369 "Easier Fedora/RedHat install"
Please provide a .rpm for Fedora/RedHat workstations

https://devcenter.heroku.com/articles/heroku-cli#download-and-install

Thanks

[2016-12-26 02:27] codernaut opened #370 "heroku not finding git"
heroku not finding git though i have git installed

D:\java-getting-started>heroku create
'MySQL' is not recognized as an internal or external command,
operable program or batch file.
'MySQL' is not recognized as an internal or external command,
operable program or batch file.
 !    Git must be installed to use the Heroku Toolbelt.
 !    See instructions here: http://git-scm.com

D:\java-getting-s

[2016-12-27 18:43] abienkowski opened #371 "running heroku command on alpine linux generates "No such file or directory""
It would be nice to know the required dependencies that are expect by the heroku command.

here is the environment

bash-4.3# which heroku
/usr/local/bin/heroku
bash-4.3# heroku
bash: /usr/local/bin/heroku: No such file or directory
bash-4.3# heroku update
bash: /usr/local/bin/heroku: No such file or directory
bash-4.3# ll /usr/local/lib/
total 4
drwxrwxr-x    4 root     root          4096 Dec 27

[2016-12-29 21:59] calebthompson opened #372 "pg:push refusing to push to empty database"
[code]

SILVER is actually a new hobby-dev database. The existing DATABASE_URL database was also emptied when I ran into this issue and before I tried with a fresh database (I wanted to upgrade to 9.6.1 anyhow.)

[2017-01-05 16:05] jdx opened #374 "--confirm without --app"
the previous CLI was able to set the --app flag by only setting --confirm. The new CLI should replicate this behavior.

[2017-01-05 18:35] mukeshdutt opened #375 "Not able to login using Heroku CLI"
I'm using Heroku first time. I got the tutorial and first I've installed CLI then I tried to log in but the following issue was occurred then I set HTTP_PROXY and HTTPS_PROXY but I'm still not able to log in.

Enter your Heroku credentials.
Email: mukeshdutt5@gmail.com
Password (typing will be hidden):
▸ Post https://api.heroku.com/login: http: error connecting to proxy https://api.heroku.com:53:

[2017-01-05 18:48] mukeshdutt commented on #375
Can anyone help?

I completely stuck at this point.

[2017-01-06 19:26] dickeyxxx commented on #375
it doesn't make sense to set your http proxy to a heroku app. Why are you setting those?

[2017-01-07 04:55] mukeshdutt commented on #375
After restart the system that working was fine.

[2017-01-09 16:55] #375 closed

[2017-01-10 08:03] SarthakAdhikari opened #378 "Cannot login to Heroku using the CLI"
Whenever I try to login to Heroku through the cli, I get this:

`Post https://api.heroku.com/login: dial tcp: lookup api.heroku.com on 127.0.1.1:53: read udp 127.0.0.1:50100->127.0.1.1:53: i/o timeout
`
Running 'heroku version' returns
`heroku-cli/5.6.11-3b6a56e (linux-amd64) go1.7.4
`

When I run 'sudo tcpdump -n udp port 53' and login through a new terminal, I get this:

tcpdump: verbose output

[2017-01-10 08:10] up2go-rsoesemann opened #379 "Want to contribute a PMD CLI plugin - Where to start?"
Sorry for asking this in the form of a GitHub issue, but this seemed to be the best spot.

I am a [contributor](https://github.com/Up2Go/codeclimate-apexmetrics) of the [PMD static code analyzer](http://pmd.github.io/) and plan to create a CLI plugin for PMD.

Before digging into technologies I have no clue of - node and go - I thought it would be better to first find out if:

- Is there already a

[2017-01-10 16:03] matan10 commented on #84
when i try to start heroku its showing me that error:

UNABLE_TO_GET_ISSUER_CERT_LOCALLY: unable to get local issuer certificate

how to fix it?

please help me!

[2017-01-10 19:00] jdxcode opened #381 "core commands display help twice when symlinked"
[code]

[2017-01-11 01:24] jdx opened #382 "Help for subcommands not shown under command"
Subcommands aren't shown under help for a command. `heroku help pg:maintenance` should show the help for `pg:maintenance:*`.

[2017-01-11 01:26] dickeyxxx commented on #379
There aren't any PMD plugins I'm pretty sure. I'm not sure about anything specific with java tools that would be different than wrapping other CLI binaries. You could look at https://github.com/heroku/heroku-git/blob/master/commands/git/remote.js for an example of interacting with git.

[2017-01-11 01:38] dickeyxxx commented on #371
No dependencies are required. You don't need node or go to install the CLI. It's failing because your symlink isn't pointing anywhere.

[2017-01-11 01:39] dickeyxxx commented on #370
This happens because your `PATH` is invalid.

[2017-01-11 01:40] dickeyxxx commented on #370
can you reinstall the CLI? If that doesn't fix the issue, your `PATH` has characters in it that are incompatible.

[2017-01-12 03:15] susheelk opened #383 "Unable to install heroku-deploy plugin"
I keep getting this error:
[code]

I'm running Windows 10. Thanks

[2017-01-12 03:17] #383 closed

[2017-01-13 15:46] ryoia commented on #383
Hi, I am experiencing a similar issue since yesterday, is there a solution for this ticket?

![image](https://cloud.githubusercontent.com/assets/3303020/21935959/b598b258-d96c-11e6-888a-9e9dae22f87b.png)

[2017-01-13 17:15] ryoia opened #385 "Unable to install heroku-deploy plugin"
Hi, I have been getting this error since yesterday:

![image](https://cloud.githubusercontent.com/assets/3303020/21938576/284a023c-d979-11e6-9acf-ef102e4c844f.png)

[2017-01-13 18:11] ryoia commented on #385
A little more info here:

![image](https://cloud.githubusercontent.com/assets/3303020/21940310/fb726ba2-d980-11e6-919d-cdcc7d62bf0e.png)

[2017-01-13 19:35] dickeyxxx commented on #385
that plugin is no longer compatible with the CLI, but you can use `heroku run --exit-code`

[2017-01-13 19:35] #385 closed

[2017-01-16 17:07] n1cklee commented on #361
I am having the same issue.

`(~/Documents/play-java-intro)- [master]
nick@Nicks-MacBook-Pro-[12:06]$ heroku pg:copy DATABASE_URL postgresql-perpendicular-41934 --remote production
 ▸    WARNING: Destructive action
 ▸    This command will remove all data from CRIMSON
 ▸    Data from DATABASE will then be transferred to CRIMSON
 ▸    To proceed, type rocky-anchorage-35749 or re-run this command wit

[2017-01-17 21:43] ransombriggs commented on #84
@matan10 could you please open a separate issue?  when you do, could please also indicate if you are you behind a proxy server or company firewall?

[2017-01-18 15:14] dickeyxxx commented on #383
You can't install plugins from git urls

[2017-01-20 21:03] hobakill opened #388 "`heroku restart dyno_name -a app_name` shows a false positive result."
[code]
The above `stdout` is misleading. The dyno called in this command doesn't restart. In fact very little happens at all besides the copy that's printed. The correct command is:

`heroku ps:restart dyno_name -a app_name`

Please update the tool so that the first command errors out appropriately.

[2017-01-20 21:05] dickeyxxx commented on #388
I'm confused, are you saying that `ps:restart` behaves differently than `restart`? Because one is just an alias for the other, they do the same thing.

[2017-01-20 21:15] hobakill commented on #388
@dickeyxxx thanks for the quick response. Yes that's exactly what I'm saying. Here's a real-life example of what I just went through and prompted me to write this issue.

when I use: `heroku restart dyno_name -a app-name` I immediately do a `heroku ps -a app_name` and the dyno in question shows:

[code]

I can do that `heroku restart` command until the cows come home and the only thing that change

[2017-01-20 23:09] dickeyxxx commented on #388
What is the output of `heroku version`?

[2017-01-20 23:09] hobakill commented on #388
`heroku-cli/5.6.12-1708b34 (darwin-amd64) go1.7.4`

[2017-01-20 23:13] dickeyxxx commented on #388
if you run `HEROKU_DEBUG=1 HEROKU_DEBUG_HEADERS=1 heroku ps:restart dyno_name -a app-name` is there any difference between the output of that and the output of `HEROKU_DEBUG=1 HEROKU_DEBUG_HEADERS=1 heroku ps:restart dyno_name -a app-name`?

Because the command is just aliased, I would be surprised if it was making any sort of a different web request to the API.

[2017-01-20 23:26] hobakill commented on #388
when I `diff` the only differences are date, command, ratelimit, request-id, runtime

[2017-01-20 23:27] dickeyxxx commented on #388
Yeah it's as I expected, the 2 commands make exactly the same request, there is no difference in behavior.

[2017-01-20 23:28] hobakill commented on #388
well except that the command actually doesn't run on the dyno! :)

[2017-01-20 23:29] dickeyxxx commented on #388
Can you submit a support ticket? The API team could look into this. This project is just for the CLI.

[2017-01-21 18:23] hobakill commented on #388
@dickeyxxx absolutely. any chance you have a URL?

[2017-01-21 20:05] dickeyxxx commented on #388
support.heroku.com

[2017-01-21 20:05] #388 closed

[2017-01-22 22:11] wingrunr21 commented on #371
@abienkowski this is not due to a symlink. The error is because a few libraries are missing + node is looking for glibc. As alpine is musl based, the cli/node need to be built within that environment to function properly. I just finished putting together an [alpine-based Docker image](https://github.com/wingrunr21/alpine-heroku-cli) if you want to take a look there on how I did it.

[2017-01-23 15:25] ransombriggs commented on #371
@abienkowski could you see if you can build `node` version `v6.2.1` from sources?  If you can get this built and running, I should be able to talk you through the rest.

[2017-01-23 15:36] wingrunr21 commented on #371
The best reference for that will be mhart's [alpine-node image](https://github.com/mhart/alpine-node).

@ransombriggs the project Makefile more or less works just fine. I had to do a few minor tweaks to get it to build with the compiled node but overall it didn't require much modification.

[2017-01-23 15:54] wingrunr21 commented on #371
@ransombriggs you are compiling the Go aspect of the project against glibc. I got the CLI working in alpine with some directory symlinks, `libc6-compat`, and a properly compiled node, but I felt that was asking for strange behavior to pop up later. Alpine really recommends compiling against musl for things that are running on it.

[2017-01-23 16:15] ransombriggs commented on #371
@wingrunr21 out of curiosity, what prevented it from compiling against `musl`?

[2017-01-23 16:24] wingrunr21 commented on #371
Nothing preventing it from compiling. I more had to jump through hoops to get `make build` to cooperate with the `musl` compiled node. You can see what I did [here](https://github.com/wingrunr21/alpine-heroku-cli/blob/master/setup_heroku_cli.sh).

[2017-01-24 13:18] corrspt commented on #361
@ransombriggs

Yup, having the same issue, but when using the
`heroku pg:backups:restore 'http://path/to/export/db.dump' DATABASE_URL -a myapp`

What's more, it started to run and then halted... the database appears to have been wiped. Must figure out a way to restore the backup.

[2017-01-24 16:54] ransombriggs commented on #361
@corrspt I pushed a release so if you run `heroku update` to get version `5.6.13` you should not see this error again.  I saw your edit, so I am assuming that things are working properly for you now?

@n1cklee I am sorry I missed your comment, could you run `heroku update` and try again?  There was an error running the `copy` command and now you should be able to see what was causing the error.

T

[2017-01-24 17:49] corrspt commented on #361
@ransombriggs Yes, things are working properly :) In any case, thank you very much for such a quick response (with a release as well).

I don't quite understand what made the problem occur on a url and not on the other (I did went through your commit on heroku:pg but didn't understand) :)

Anyway, thanks again. No need to apologize, software development is hard :(

[2017-01-24 18:43] dickeyxxx commented on #361
likely this right? https://github.com/golang/go/issues/18688

[2017-01-30 17:18] guw opened #392 "plugins --json"
It would be great if the output of `heroku plugin` can be provided in json from.

    heroku plugins --json
     ▸    Error: Unexpected flag --json
     ▸    Usage: heroku plugins
     ▸    This command does not take any flags.
     ▸
     ▸    See more information with heroku plugins --help

[2017-01-31 00:14] dnlsandiego commented on #123
I'm experiencing the same thing. No other output except for the initial startup console output:
[code]
Its not outputting any request, DB queries, or errors. This is a Rails application. Using the standard `rails s` to start up the server has no console output problems.

Heroku CLI Versions:
heroku-toolbelt/3.42.50 (x86_64-darwin15) ruby/2.2.4
heroku-cli/5.6.14-b0cc983 (darwin-amd64) go1.7.4

Proc

[2017-02-01 17:45] ransombriggs commented on #123
@dnlsandiego this is actually a `puma` vs `rails` difference, if you run `bundle exec puma -C config/puma.rb` manually you will see the same behavior so it is not `heroku local` that is causing this behavior.  For a fix, see http://stackoverflow.com/questions/31862949/puma-show-full-logs-when-run-server-with-config-file

[2017-02-03 23:46] #354 closed

[2017-02-04 16:33] shaunbaruth opened #396 "heroku run:detached always reports an error"
Regardless of whether I'm specifying a command or a processName, the following error is always received:
! Parameter "url" must be a string, not object

The process itself seems to start just fine, so the error is misleading - lead to a lot of broken integration tests.

This was not happening ~3 days ago, so I'm assuming it is related to the recent internal package updates. I'm on version 5.6.16.

[2017-02-04 16:59] dickeyxxx commented on #396
can you update and try again? I just pushed out a bug fix for this

[2017-02-04 17:04] shaunbaruth commented on #396
@dickeyxxx Looks good, thank you sir. Can close.

[2017-02-05 01:01] #396 closed

[2017-02-07 08:52] edof opened #397 "Can't Install Heroku CLI"
after installing heroku cli, my cmd still not recognized heroku
![2017-02-07_15h51_15](https://cloud.githubusercontent.com/assets/4703627/22684051/4d60660a-ed4d-11e6-83c0-bda8e2246c60.png)

is it because of this?
![2017-02-07_15h09_56](https://cloud.githubusercontent.com/assets/4703627/22684115/91dc5f78-ed4d-11e6-9ad5-d99eab054374.png)

[2017-02-07 10:30] Koshmaar commented on #84
For me logging through cmd.exe didn't save the credentials, so my cygwin/babun on Win7 x64 would ask for them again after heroku create.

But helped what @npalmius said:

[2017-02-07 15:06] ransombriggs commented on #397
@edof that is the cause, either you could install to a shorter directory path, or trim some unused entries from the `%PATH%` environment variable, or call the heroku executable with the full path.

[2017-02-07 15:06] ransombriggs commented on #397
Note: after you trim the `%PATH%` you would have to either reinstall or add the heroku path manually

[2017-02-07 16:49] bennypowers opened #398 "Can't login: Cannot read property 'get' of undefined"
I did `yarn global add heroku-cli` and tried to log in, but every heroku command returned errors, so i  ran

[code]

Here was the result of that:

[code]

[2017-02-07 16:50] bennypowers commented on #398
Same results after `yarn global remove heroku-cli; and yarn global add heroku-cli`

[2017-02-07 22:44] wuputah opened #399 "sub-commands on `pg:maintenance` do not work"
`heroku help pg` indicates:

[code]

However, `info`, `run`, or `window` are not valid options - if you try to use these, you will get an "unexpected argument" error. If you omit them entirely, you get information.

The two other commands work as expected:

[code]

**Recommendations:**
* remove ` <info|run|window>` from the help for `pg:maintenance`.
* change `manage maintenance  for <DATABASE>` t

[2017-02-07 22:51] dickeyxxx commented on #399
@wuputah are you on the ruby CLI still? I think if you reinstall the CLI (or install/upgrade via homebrew) it should show what you expect.

[2017-02-07 22:52] dickeyxxx commented on #399
not saying that this doesn't mean we shouldn't fix it for people still on the ruby CLI, but I'm curious if that's what is happening

[2017-02-07 23:00] wuputah commented on #399
Confirmed this is a legacy ruby kerfuffle. Thanks!

[code]

[2017-02-07 23:25] dickeyxxx commented on #398
follow the instructions at https://cli.heroku.com to install the CLI

[2017-02-08 18:51] dickeyxxx commented on #372
cc @uhoh-itsmaciek I wasn't able to repro... does this happen every time?

[2017-02-10 04:26] TranHoangQuoc commented on #84
![Uploading Capture 113.PNG…]()

In installing, please chose "Use Windows default console window" fix error

[2017-02-11 18:52] ghost opened #402 "Cannot login on heroku from linux"
I have tried the same thing several times, It wasn't even successful once, I always get this error
`Post https://api.heroku.com/login: dial tcp: lookup api.heroku.com on 192.168.1.1:53: read udp 192.168.1.29:50692->192.168.1.1:53: i/o timeout`

Please fix it, It is totally annoying, If there is any other alternative solution to the problem, In need of any log data, tell me how to collect, I will p

[2017-02-11 23:37] ransombriggs commented on #402
@Looserof7 What is the output of `dig api.heroku.com`?  And what version of linux are you on?

[2017-02-12 05:54] Looserof7 commented on #402
Output of dig api.heroku.com is provided in below link:
https://gist.github.com/Looserof7/d5bb738c8389b99f0163eb326d42ac65

 `Linux looserof7 4.4.45-1-MANJARO #1 SMP PREEMPT Thu Jan 26 11:32:11 UTC 2017 x86_64 GNU/Linux`

 `heroku-cli/5.6.18-9f6df83 (linux-amd64) go1.7.5`

[2017-02-12 15:14] ransombriggs commented on #402
@Looserof7 the underlying cause is due to the DNS response being greater than `512` bytes.  I have not been able to reproduce this myself in the past because people were either using private DNS or were using google DNS but were served by different servers than myself.  I noticed that the DNS address you are using is public & not google DNS, is it alright if I test with your DNS server?  (I just g

[2017-02-12 20:08] Looserof7 commented on #402
It is provided by ISP, I don't have any kind of problem, but I changed my DNS server to other DNS servers and didn't find any change.

[2017-02-13 16:35] ransombriggs commented on #402
@Looserof7 I was able to get things working with manjaro linux and your ISPs DNS server.  One thing I did see when researching this is that it might be caused by firewall issues, because it has to switch over from udp to tcp when the response size > `512` and if you do not have your firewall set up to account for this there may be issues.  Another option would be for you to use the [`heroku-accoun

[2017-02-13 22:15] Looserof7 commented on #402
I have checked out `heroku-accounts` and it works for me, I think it would be better if there was one more line in wiki, stating that 'Type in `heroku` to login to that account which you have set now. '
because I was trying out `heroku login` once again.
**Thanks a lot for your patience and help**

[2017-02-16 08:26] GautamGoel commented on #369
Yes, all us Fedora users have been left out in the cold... :(

[2017-02-18 17:06] KRaymundus opened #406 "Heroku command: read $Recycle.Bin: Handle is invalid"
On any heroku command, like `heroku`, `heroku open` or `heroku ps`, my system (windows) keeps saying:

    read C:\$Recycle.Bin: The handle is invalid.

multiple times, followed by

    EISDIR: EISDIR: illegal operation on a directory, read

I have no clue whats going wrong. Is this an ssh problem, or something locally? Or something on the heroku side? Already reinstalled heroku with git. Any othe

[2017-02-19 12:40] KRaymundus commented on #406
Appeared to be an invironment variable `SSL_CERT_DIR` which I had set to `C:\` trying to fix some other (windows) problems.

After some searching, I found removing the recycle bin with this command:

    rd /s /q C:\$Recycle.bin

resulted in the same error, but with `$recycle.bin` replaced by the first folder appearing in `C:/`. That gave me a hint to search for anything pointing to `C:/`.

Hope t

[2017-02-19 12:40] #406 closed

[2017-02-21 08:53] kevinvavelin opened #407 "The heroku cli doesn't work anymore"
Hi there,

I have an issue with Heroku CLI, on Windows 10, it doesn't do anything at all, after desinstall reinstall, it still not working, i can type any command I want, the shell don't respond :/

![image](https://cloud.githubusercontent.com/assets/1532324/23157439/8929cc5c-f81b-11e6-8037-3ba11efbb9b9.png)

[2017-02-21 21:16] ransombriggs commented on #366
@Sweetman sorrry for the delayed response, but we released a fix for this today.  If you run the 32 bit installer from https://cli.heroku.com then you should get the 32 bit `Git` installer now.

[2017-02-21 21:20] ransombriggs commented on #407
@kevinvavelin what is the output of `where heroku`?

[2017-02-21 22:04] martinpena opened #409 "Cannot use Heroku CLI on macOS Sierra"
Hi,

I have an issue with Heroku CLI on macOS Sierra, the result is always the same:

`Error creating /Users/Martin/.config/heroku which is needed for the Heroku CLI.
Run sudo mkdir -p /Users/Martin/.config/heroku && sudo chown $USER /Users/Martin/.config/heroku to create this directory.`

Thank you.

[2017-02-21 22:15] ransombriggs commented on #409
@martinpena could you manually verify that your login has write permission to `/Users/Martin/.config`?  The easiest way to do this is to check the output of `stat /Users/Martin/.config`.

[2017-02-21 23:20] martinpena commented on #409
@ransombriggs Thank you for your prompt reply

:| output of `stat /Users/Martin/.config`

`... drwx------ 4 root staff ...`

[2017-02-22 04:12] martinpena commented on #409
@ransombriggs the issue is fixed, once again, I thank you for your help.

Commands used:

- How to find files that don't belong to a given user `find ~ ! -user $USER -ls`

- `sudo chown $USER:$GROUP ~/.config`, `sudo chown Martin:staff ~/.config` in my case.

[2017-02-22 04:12] #409 closed

[2017-02-22 13:16] JenkaBY commented on #372
@dickeyxxx Yes, I have the same problem(

I've even deleted db and recreated new.
The same text I see every time.

[2017-02-23 03:26] mkhatib opened #411 "Getting "Cannot read property 'started_at' of undefined" running pg:backups:restore"
$ heroku pg:backups:restore '<URL>' DATABASE_URL --app <MY APP>

 ▸    WARNING: Destructive Action
 ▸    This command will affect the app <MY APP>
 ▸    To proceed, type <MY APP> or re-run this command with --confirm <MY APP>

Starting restore of <URL> to <DB NAME>... done

Use Ctrl-C at any time to stop monitoring progress; the backup will continue restoring.
Use heroku pg:backups to check progre

[2017-02-23 15:25] amphro commented on #366
@ransombriggs Does that mean the 32 bit windows installer works? If so, what is this one for? https://github.com/heroku/cli/pull/389 @dickeyxxx

[2017-02-23 18:45] uhoh-itsmaciek commented on #372
@calebthompson @JenkaBY I'm going to close this issue and re-open it against the plug-in here: https://github.com/heroku/heroku-pg

[2017-02-23 18:45] #372 closed

[2017-02-23 20:29] ransombriggs commented on #366
@amphro the 32 bit installer should work, that other PR is a work in progress that I did not know about when I started my fix

[2017-02-24 21:10] uhoh-itsmaciek commented on #294
Now I get

[code]

[2017-02-24 21:34] ransombriggs commented on #294
@uhoh-itsmaciek I needed to bump `heroku-cli-util` in `heroku-accounts` and having this not masked caused the password to be output during login on cygwin, so I removed this feature in https://github.com/heroku/heroku-cli-util/pull/85/files If there is a good way to mask output in `term=dumb` then I can change this.

[2017-02-24 21:45] uhoh-itsmaciek commented on #294
Oh ugh. Okay, thanks for the follow up.

[2017-02-24 21:49] uhoh-itsmaciek commented on #294
I wonder how `passwd` does this--if I run that in emacs' `M-x shell`, it prompts me via the minibuffer and masks the input. Anyway, I'll respond if I find something.

[2017-02-24 22:07] ransombriggs commented on #411
@mkhatib sorry for the delayed response, but I am having trouble debugging this without the app name, if you do not feel comfortable posting it here publicly, could you start a support ticket at https://support.heroku.com ?

[2017-02-24 22:22] uhoh-itsmaciek commented on #294
[Welp...](http://emacs.stackexchange.com/a/21119)

[2017-02-25 21:44] hunterloftis opened #412 ""ERR! cb() never called!" when installing a plugin (heroku-cli-node)"
[code]

[2017-02-27 02:42] walidhalabi commented on #369
There's lots of rpm-based distros, including CentOS, RedHat, Fedora, and SUSE. Many are used as production systems and therefore there's lots of developers using Fedora and similar.

[2017-02-27 15:37] ransombriggs commented on #412
@hunterloftis other issues people have seem to point at dependencies issues.  I was able to replicate your issue with `2.0.0` but was able to install `1.1.0` so I went to go see what was different between the two dependency wise, but could not find a tag for `2.0.0` in the github repo, could you push it up?

[2017-02-28 23:22] dickeyxxx commented on #369
we plan to do this relatively soon, but until then please use the standalone install: https://devcenter.heroku.com/articles/heroku-cli#standalone-version

[2017-03-01 10:38] swrobel opened #415 "Add option to give git remote a custom name"
I would be nice to be able to do `heroku git:remote [NAME]` to pass a custom name for the remote rather than `heroku`. It would presumably run `git remote add [NAME] <git_url>`

[2017-03-01 18:19] dickeyxxx commented on #415
use the `--remote` flag

[2017-03-01 18:19] #415 closed

[2017-03-06 15:04] ahmedbana commented on #84
Thanks TranHoangQuoc That worked perfect (y)

[2017-03-07 14:58] edmorley commented on #363
I can still reproduce using: heroku-cli/5.6.29-ac5c0de (windows-amd64) go1.7.5

[2017-03-08 16:58] rish commented on #123
I was having the same issue when using`heroku local` for a barebones Roda/Rack app.

Having this on the first line of my `config.ru` solves it:

https://github.com/ddollar/foreman/wiki/Missing-Output

[2017-03-09 19:29] #392 closed

[2017-03-14 14:15] umarriqbal commented on #84
Can I log into heroku using cmd and still continue with the rest with git bash?

[2017-03-14 18:07] garyposter commented on #265
We're targeting this as a nice-to-have demo feature for https://trello.com/c/jKKYNvcW/756-cli-v6

[2017-03-14 18:12] uhoh-itsmaciek commented on #265
Woo!

[2017-03-15 15:45] stuffandthings opened #424 "CLI needs to prompt for Password but stdin is not a tty."
Hi,

I'm using the Heroku CLI from my Jenkins server. I'm authenticating with this line in my script:
[code]
It's worked for me in most runs, I just kicked off two tasks, the first one was fine and the next one failed with this:
[code]

I've tried re-running the task a few times and it continues to fail, while the first one is successfully running.

Thoughts?

[2017-03-15 15:46] dickeyxxx commented on #424
it won't work with the new login functionality. It would be much better just to set HEROKU_API_KEY

[2017-03-15 15:47] stuffandthings commented on #424
When did this change happen? I'm not sure how I'd go about setting the API key without logging in via CLI first.

[2017-03-15 15:58] dickeyxxx commented on #424
it happened yesterday, you can use `heroku authorizations:create` to create an oauth token

[2017-03-15 16:42] stuffandthings commented on #424
Thanks!

Do I just set the returned `Token` as an environment variable `HEROKU_API_KEY`? Or rather a pointer to docs on this would be great :)

[2017-03-15 16:55] #424 closed

[2017-03-15 18:19] tomsparks opened #425 "CLI tool doesn't parse the FreeBSD proxy environment variables correctly"
I have HTTP_PROXY set in my environment however the CLI tool only supports one version of the string.

host:port and http://host:port/ are both supported on FreeBSD, and often only host:port is used in some environments. It would be great if you could support both formats.

[2017-03-16 16:18] ransombriggs commented on #84
@umarriqbal you should be able to use `git bash` after successfully logging in with `cmd.exe`.  When you login, it adds an entry to your `netrc` file which both shells should be able to pick the netrc file.  Let me know if it does not work for you.

[2017-03-18 16:18] dekubi opened #427 "heroku showing fork/exec /..../node: no directory"
I am using heroku-cli/5.7.3-35ab144 (linux-arm) go1.7.5 but wheneve I run i run any of heroku's command I get "fork/exec /home/.local/share/heroku/cli/lib/node: no such file or directory"
.
All help invited from community. Thanks

[2017-03-20 14:41] tech4him1 opened #429 "Windows tarball contains symlinks making extraction difficult."
The tarball for Windows contains relative symlinks in `lib\node_modules\.bin` instead of shims like the installer has.  Windows has limited symlink support, and they must be created with administrator privileges, which makes the tarball impossible (as far as I know) to extract under a lower user account.  If the tarball could be built with the same shims in `lib\node_modules\.bin`b that the `exe`

[2017-03-20 14:45] tech4him1 commented on #429
The Windows version of `npm` uses shims instead of symlinks to work around this as well.

[2017-03-20 15:06] dickeyxxx commented on #429
Those errors are ignored and the files are not needed by the CLI. Is there an issue you're seeing?

[2017-03-21 02:30] tech4him1 commented on #429
No, I just assumed that files not being extracted meant that it wouldn't work the same :smile:.  Of course it would be nicer if it didn't error, but as long as it works that is good enough for me!  Thanks!

[2017-03-21 02:30] #429 closed

[2017-03-22 00:15] johnnyasantoss opened #430 "Can't login on fresh installation "Cannot read property 'name' of undefined""
Hello!
I've just installed heroku cli in my `Ubuntu 16.04` following [these][tutorial] steps, and I can't login in my account.
[code]

[tutorial]: https://devcenter.heroku.com/articles/getting-started-with-nodejs#set-up

[2017-03-22 00:20] johnnyasantoss commented on #430
Using just `heroku` I can login. I'm confused with this cli :|

[2017-03-22 02:28] ransombriggs commented on #430
@johnnyasantoss sorry for the error that you encountered, I shipped some code earlier today around two factor authentication that caused an issue in `heroku login`.  I just rolled back the earlier release, so could you please run `heroku update` and try `heroku login` again?  (The reason that it worked in one place but not another is that we are in the process of porting `heroku login` and `heroku

[2017-03-22 02:41] johnnyasantoss commented on #430
@ransombriggs Thanks for the quick reply and rollback :D

[2017-03-22 02:41] #430 closed

[2017-03-29 20:51] slepkin commented on #42
It doesn't look like `--json` is a valid option for `pg:info` nor `addons:info`. I looked into the REST API, but I doubt any API library I write will be as tight as all the work you guys have put into the CLI.

(Sorry to resurrect this thread, but I couldn't find an email for @dickeyxxx, and tweeting him about it seemed rude 😀).

[2017-03-31 02:26] jeroldhaas opened #433 "Heroku CLI Utilities Should Check For Git & Node Already Installed, Avoid Duplicate Installs"
Installing Git CLI & Nodejs into an operating system that already has said frameworks seems to be becoming the new DLL Hell of our times. The installer should check for environment variables or some other installation markers that indicate these should or should not need be installed instead of littering a developer system with yet again another set of Node and Git CLI utilities

[2017-03-31 15:57] dickeyxxx commented on #433
It does (or at least should) only install git if it is not already
installed, and only on windows. We don't use the system node because we
don't want the user to be required to use any certain version of the node
for the CLI to work. A lesson we learned from the ruby CLI days.

So this is a very deliberate design decision we've worked hard to make work
on all platforms without any user interaction

[2017-04-01 00:01] jeroldhaas commented on #433
Thanks for the information. I had to manually de-select Git from the installation options when running the installer, so my intuition was that there was no attempt to detect a previously installed version.

I've ended up with about 5 versions of node and npm installed on my system due to various applications making this similar design choice, many times each running its own cache as well. I'm sure

[2017-04-01 00:01] #433 closed

[2017-04-04 13:40] dickeyxxx commented on #42
can you add this issue to heroku/heroku-pg? A different team maintains that plugin

[2017-04-04 15:10] slepkin commented on #42
[Done](https://github.com/heroku/heroku-pg/issues/104) and [done](https://github.com/heroku/heroku-cli-addons/issues/73), thanks.

[2017-04-05 12:27] Znarkus opened #435 "`heroku pg:pull` produces lots of output to stderr"
[code]

Setting `> /dev/null` does nothing, but `> /dev/null 2>&1` works to suppress output. But I don't really want to suppress potential errors. Am I doing anything wrong?

[2017-04-05 13:06] rodbeh opened #436 "It isn't able to rake db:migrate"
Hi, I'm trying to deploy a very simple "demo" Rails 5 app to Heroku,
but I'm not able to run a rake db:migrate...

Firstly I got an ECONNREFUSED: connect ECONNREFUSED 50.19.103.36:5000
And after wifi changes I'm getting an ENOTFOUND: getaddrinfo ENOTFOUND api.heroku.com api.heroku.com:443

I'm not sure if it's something that I need to do... or maybe I should wait and try again later.

Best wishes,

[2017-04-05 13:20] rodbeh commented on #436
Wow! I was trying to run the rake on the Vagrant, and it wasn't working...

But, now, running from the Mac terminal, yes, it's working very well. moving on.

Cheers.

[2017-04-05 13:20] #436 closed

[2017-04-06 04:07] ukd1 opened #438 "redis.plan.indexOf is not a function error"
[code]

I'm running https://github.com/heroku/cli/commit/2643c0a - v5.6.28 and I'm on os X 10.12.

[2017-04-06 16:51] dickeyxxx commented on #438
cc @heroku/dod-ux, it looks like an API change https://github.com/heroku/heroku-redis-jsplugin/blob/master/commands/cli.js#L158

[2017-04-06 18:27] ukd1 commented on #438
ugh, no tests?

[2017-04-06 18:36] uhoh-itsmaciek commented on #438
Right, @dickeyxxx, looks like this was an inadvertent change in the API. We're addressing that now and should have a fix shortly. I'll follow up when it is live. I apologize for the inconvenience.

[2017-04-06 18:45] apg opened #439 "App name is case sensitive?"
Hi,

I just tried to run something like the following:

[code]

But when I ran:

[code]

I don't think it's the case that you can create a case insensitive app on Heroku, as that would violate properties of DNS, which is case insensitive, when we did Fizzbuzz.herokuapp.com vs. fizzbuzz.herokuapp.com, leading to 2 different apps, with the same DNS record.

[2017-04-06 18:49] dickeyxxx commented on #439
Well you can't have an app with an uppercase letter at all as far as I know. Mentioned it to @geemus and we definitely agree that any kind of normalization should be done in the API or not at all (since we don't do any kind of normalization in the CLI).